{% extends '@Property247Admin/layout.html.twig' %}
{% block page_actions %}
    {#<li>#}
        {#<a href="{{ url('admin_list_subject') }}" class="">#}
            {#<i class="fa fa-plus position-left"></i>#}
            {#List Subjects#}
        {#</a>#}
    {#</li>#}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ asset('bundles/property247admin/css/select2.min.css') }}">
    {{ form_start(form) }}
        <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Notice</h4>
            </div>
            <div class="panel-body">
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                <button type="submit" class="btn btn-success btn-sm">
                    <i class="fa fa-save"></i>&nbsp;SAVE
                </button>
                <a href="{{ url('admin_subject_list') }}" class="btn btn-sm btn-danger">
                    <i class="fa fa-times"></i>&nbsp;CANCEL
                </a>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/property247admin/js/select2.min.js') }}"></script>
    <script>
        $('.select2').select2();
    </script>
{% endblock %}