{% extends '@Property247Admin/layout.html.twig' %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-flat">
            {% if notices|length %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-xs table-framed">
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                        {% for notice in notices%}
                            <tr>
                                <td>
                                    {{ loop.index }}
                                </td>
                                <td>{{ notice.title }}</td>
                                <td>{{ notice.description}}</td>
                                <td>
                                    <a href="{{ path('admin_notice_update',{id:notice.id}) }}"
                                       title="Edit"><i class="fa fa-pencil"></i> </a>

                                    <a href="{{ path('admin_notice_delete',{id:notice.id}) }}" >
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                {{ no_contents('No Notice to list.')|raw }}
            {% endif %}

            <div class="clearfix"></div>

        </div>

        <div class="text-right">
            {{ knp_pagination_render(notices) }}
        </div>

    </div>

    <div class="clearfix"></div>
{% endblock %}
