<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="{{ asset('backend/layout1/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('backend/layout1/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('backend/layout1/css/core.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('backend/layout1/css/components.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('backend/layout1/css/colors.css') }}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="{{ asset('backend/layout1/js/plugins/loaders/pace.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/layout1/js/core/libraries/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/layout1/js/core/libraries/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/layout1/js/plugins/loaders/blockui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/layout1/js/plugins/ui/nicescroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/layout1/js/plugins/ui/drilldown.js') }}"></script>
    <!-- /core JS files -->


    <!-- Theme JS files -->
    <script type="text/javascript" src="{{ asset('backend/layout1/js/core/app.js') }}"></script>
    <!-- /theme JS files -->

</head>

<body class="login-container">


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            {% trans_default_domain 'FOSUserBundle' %}

            <!-- Simple login form -->
            <form action="{{ path("fos_user_security_check") }}" method="post">

                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}

                <div class="panel panel-body login-form">
                    <div class="text-center">
                        <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                        <h5 class="content-group">Login to your account
                            <small class="display-block">Enter your credentials below</small>
                        </h5>
                    </div>

                    <div class="text-center">
                        {% if error %}
                            <p class="login-box-msg text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                        {% endif %}
                    </div>

                    <div class="form-group has-feedback has-feedback-left">
                        <input type="text" class="form-control" placeholder="Username" id="username" name="_username"
                               value="{{ last_username }}" required="required">
                        <div class="form-control-feedback">
                            <i class="icon-user text-muted"></i>
                        </div>
                    </div>

                    <div class="form-group has-feedback has-feedback-left">
                        <input type="password" id="password" name="_password" required="required" class="form-control"
                               placeholder="Password">
                        <div class="form-control-feedback">
                            <i class="icon-lock2 text-muted"></i>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Sign in <i
                                    class="icon-circle-right2 position-right"></i></button>
                    </div>

                    {#<div class="text-center">#}
                    {#<a href="#">Forgot password?</a>#}
                    {#</div>#}
                </div>
            </form>
            <!-- /simple login form -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->


<!-- Footer -->
<div class="footer text-muted text-center">
    Copyright &copy; {{ date()|date('Y') }}
</div>
<!-- /footer -->

</body>
</html>
