<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sajilo Attendance</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="{{ asset('attendance/style.css') }}" rel="stylesheet">
    <link href="{{ asset('attendance/animate.css') }}" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fas fa-user" color="darkcyan"></i>   Sajilo Attendance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto"> <!--ml auto pushes elements to the right-->
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fas fa-home" style="color: darkcyan; font-size: 1em;"></i> Home</a>
                </li>
                <li>
                    <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt" style="color: darkcyan; font-size: 1em;"></i> Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100"  src="{{ asset('attendance/img/slider1.jpg') }}">
            <div class="carousel-caption">
                <h1 class="display-2">Sajilo Attendance</h1>
                <p class="text-justify"></p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"  src="{{ asset('attendance/img/slider2.jpg') }}">
        </div>
        <div class="carousel-item">
            <img  class="d-block w-100"  src="{{ asset('attendance/img/slider3.jpg') }}">
        </div>
    </div>
</div>

<!--- Jumbotron -->
<!--<div class="container-fluid">
	<div class="row jumbotron">
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 ">
			<p class="lead">I'm creating a simple HTML template using Bootstrap 3. I check the template in medium size display, it looks ok. But when I check it in larger display (
				and higher resolution), I see some white space at the right side of the images inside the Carousel.</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
			<a href="#"><button type="button" class="btn btn-outline-secondary btn-lg">Web Hosting</button></a>
		</div>
	</div>
</div>-->
<!--- Welcome Section -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-6" style="color: #003e3e;"><i class="far fa-clock" style="color: darkcyan; font-size: 2em; margin: auto;"></i>   Why Sajilo Attendance?</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">
                A better attendance solution for college
            </p>
        </div>
    </div>
</div>

<!--- Three Column Section -->
<div class="container padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInUp">
            <i class="far fa-clock"></i>
            <h4>Functionality With Simplicity</h4>
            <p class="text-justify">e-Attendance provides you a powerful yet simpler interface to schedule and track your employee with its
                broad first-class functionality aided with simpler
                for your ease.It offers an on-premise attendance management platform for organization of any size and kind</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInUp">
            <i class="fas fa-puzzle-piece"></i>
            <h4>Integration, not interfaced</h4>
            <p class="text-justify">The extensive integration of all e-Attendance applications exchange real-time
                information, share a common database and user interface.
                They will seamlessly evolve every aspect of your business together eliminating the need
                to build custom interfaces, complex updating and maintenance.</p>
        </div>
        <div class="col-sm-12 col-sm-6 col-md-4 wow fadeInUp ">
            <i class="fab fa-pagelines"></i>
            <h4>Flexibility for growth</h4>
            <p class="text-justify">e-Attendance allows you to activate attendance tools and functions as you need them,and stock the
                remaining for future obligations.With the system
                flexibility to expand as per your need, scaling up to more than 1 million users, you can always rely on e-Attendance to help you grow!</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInUp">
            <i class="fas fa-desktop"></i>
            <h4>Web-native, not web-enableds</h4>
            <p class="text-justify">
                e-Attendance is accessed using the intuitive interface in Web mode.
                This will help your business expand over multiple sites.
                You can also develop stronger relationships with management,
                administration and other stake holders giving them customized access to the system.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInUp">
            <i class="fas fa-dollar-sign"></i>
            <h4>Cost-effective and efficient</h4>
            <p class="text-justify">We have built e-Attendance to dramatically reduce the time of implementation and customization
                without sacrificing any functionality. We understand that reducing costs from day
                one is the best way to guarantee a fast return on investment!</p>
        </div>
        <div class="col-sm-12 col-sm-6 col-md-4 wow fadeInUp ">
            <i class="fab fa-pagelines"></i>
            <h4>Flexibility for growth</h4>
            <p class="text-justify">e-Attendance allows you to activate attendance tools and functions as you need them,and stock the
                remaining for future obligations.With the system
                flexibility to expand as per your need, scaling up to more than 1 million users, you can always rely on e-Attendance to help you grow!</p>
        </div>

    </div>
    <hr class="my-4">
</div>

<!--- Connect -->
<div class="container-fluid padding">
    <div class="row padding text-center">
        <div class="col-12">
            <h2 class="display-4">Connect</h2>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook"></i> </a>
            <a href="#"><i class="fab fa-twitter"></i> </a>
            <a href="#"><i class="fab fa-google-plus-g"></i> </a>
            <a href="#"><i class="fab fa-instagram"></i> </a>
            <a href="#"><i class="fab fa-youtube"></i> </a>
        </div>
    </div>
</div>
<!--- Footer -->
<footer>
    <div class="container-fluid padding">
        <div class="row padding text-center">
            <div class="col-md-4">
                <hr class="light">
                <p>9808954651</p>
                <p>rabindratamang147@gmail.com</p>
                <p>KAthmandu , Nepal</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Our Hours</h5>
                <hr class="light">
                <p>monday 5 - 4 </p>
                <p>Saturday 4-6</p>
                <p>sunday closed</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Sajilo Attendance</h5>
                <hr class="light">
                <p>Kathmandu, Nepal</p>
            </div>
            <div class="col-12">
                <hr class="light">
                <h5>&copy; sajilo-attendance.com</h5>
            </div>
        </div>
    </div>

</footer>
<script src="{{ asset('attendance/wow.js') }}"></script>
<script>
    WOW = new WOW().init();
</script>
</body>
</html>













