{% extends 'Property247FrontendBundle::forntend_layout.html.twig' %}


{% block content %}

    {#SLider block start#}
    {{ sonata_block_render({'type':'property.slider.block'}) }}
    {#slider block end#}

    {#Requiremnt post block start#}
    {{ sonata_block_render({'type':'property.requirement_post.block'}) }}
    {#Requiremnt post block end#}


    {#Top Rated property block start#}
    {{ sonata_block_render({'type':'property.top_rated_property.block'}) }}
    {#Top Rated property block end#}

    {#View property block start#}
    {{ sonata_block_render({'type':'property.view_property.block'}) }}
    {#View property block end#}


    {#Subscribe block start#}
    {{ sonata_block_render({'type':'property.subscribe.block'}) }}
    {#Subscribe block end#}


    {#Featured property block start#}
    {{ sonata_block_render({'type':'property.featured_property.block'}) }}
    {#Featured property block end#}


    {#Testimonial block start#}
    {{ sonata_block_render({'type':'property.testimonial.block'}) }}
    {#Testimonial block end#}

    {#news block start#}
    {{ sonata_block_render({'type':'property.news.block'}) }}
    {#news block end#}

    {#Trusted By block start#}
    {{ sonata_block_render({'type':'property.trusted.block'}) }}
    {#Trusted By block end#}


{% endblock %}

{% block css %}
    <style>
        .property-bx ul li a {
            color: #fff;
        }
    </style>

{% endblock %}


