{% extends '@Property247Admin/layout.html.twig' %}

{% block page_actions %}
    <li>
        <a href="{{ path('admin_add_document') }}">
            <i class="fa fa-file-o"></i>&nbsp;
            Add Document
        </a>
    </li>
{% endblock %}

{% block content %}

    <style>
        .panel-lg {
            float: left;
            width: 100%;
        }
    </style>

    <div class="col-md-12">
        {% if has_access('add_document') %}
            {% set className = 'col-md-8' %}
            <div class="col-md-4">
                <div class="panel panel-lg">
                    <div class="panel-body">
                        {% form_theme form 'bootstrap_3_layout.html.twig' %}
                        {% if isUpdating is defined and isUpdating == true %}
                            {{ form_start(form) }}
                        {% else %}
                            {{ form_start(form,{'attr':{'action':path('admin_add_document')}}) }}
                        {% endif %}
                        <div class="col-md-12">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="col-md-12">
                            {{ form_row(form.type) }}
                        </div>
                        <div class="col-md-12">
                            {{ form_row(form.description) }}
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary">
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        {% else %}
            {% set className = 'col-md-12' %}
        {% endif %}
        <div class="{{ className }}">
            <div class="panel panel-lg">
                {% if documents | length %}
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>SN</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Description</th>
                            {% if has_access('update_document') or has_access('delete_document') %}
                                <th>Action</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for d in documents %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ d.name }}</td>
                                <td>{{ d.type | documentTypeName }}</td>
                                <td>{{ d.description }}</td>
                                {% if has_access('update_document') or has_access('delete_document') %}
                                    <td>
                                        {% if has_access('update_document') %}
                                            <a href="{{ path('admin_update_document',{id:d.id}) }}"
                                               class="btn btn-xs btn-info">
                                                Edit
                                            </a>
                                        {% endif %}
                                        {% if has_access('delete_document') %}
                                            <a href="{{ path('admin_delete_document',{id:d.id}) }}"
                                               class="btn btn-xs btn-danger delete-item">
                                                Delete
                                            </a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    {{ no_contents() }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}