<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sampurna | Admin Panel</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="{{ asset('backend/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('backend/css/icons/fontawesome/styles.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('backend/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('backend/css/core.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('backend/css/components.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('backend/css/colors.min.css') }}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="{{ asset('backend/js/plugins/loaders/pace.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/js/core/libraries/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/js/core/libraries/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/js/plugins/loaders/blockui.min.js') }}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{{ asset('backend/js/plugins/visualization/d3/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/js/plugins/visualization/d3/d3_tooltip.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/js/plugins/forms/styling/switchery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/js/plugins/forms/styling/uniform.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('backend/js/plugins/forms/selects/bootstrap_multiselect.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/js/plugins/ui/moment/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/js/plugins/pickers/daterangepicker.js') }}"></script>

    <script type="text/javascript" src="{{ asset('backend/js/core/app.min.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('backend/js/pages/dashboard.js') }}"></script>#}

    <script type="text/javascript" src="{{ asset('backend/js/plugins/ui/ripple.min.js') }}"></script>
    <!-- /theme JS files -->

    <style>

        .page-header {
            margin-bottom: 20px;
        }

        .filter-wrap .panel-heading {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #adminFilterForm .form-group .control-label, #adminFilterForm .form-group .form-control {
            padding-top: 2px;
            padding-bottom: 2px;
        }

        #adminFilterForm .form-group .form-control {
            height: 20px;
        }

        #showHideFilterButton {
            display: block !important;
            position: relative;
        }

        .bootstrap-switch {
            line-height: 8px
        }

        .form-group .checkbox label {
            padding-left: 10px
        }

        em.required {
            color: #900
        }

        form label {
            font-family: Roboto, sans-serif;
            /*font-weight: 700 !important;*/
            font-size: 11px;
        }

        .form-horizontal label:after {
            content: ':';
            float: right;
        }

        .form-horizontal .checkbox label:after {
            content: '';
        }

        .form-horizontal .form-group {
            margin-bottom: 5px;
        }

        .select2-container {
            width: 100% !important;
        }

        .select2 .select2-selection {
            padding: 0;
            height: 20px;
        }

        .select2-dropdown {
            width: 250px !important;
        }

        .uploader .filename {
            max-width: 50%;
        }

        .uploader .bg-pink-400 {
            background-color: #ccc;
            border-color: #999;
            color: #fff;
        }

        .bootstrap-tagsinput span.tag.label {
            border-radius: 0;
            line-height: 5px;
            padding: 6px 20px 6px 6px;
        }

        .bootstrap-tagsinput .tag [data-role=remove] {
            line-height: 5px !important;
            right: 5px !important;
        }

        .dropzone {
            min-height: 200px !important;
        }

        .vich-image a img {
            width: 100%;
        }

        .my-collection li {
            display: block;
        }

        .tags .add-new-control {
            clear: both;
        }

        .tags .add-new-control a {
            margin-top: 10px;
            display: block;
            float: left;
        }

        .polls-tags li {
            position: relative;
        }

        .polls-tags li span.removeImage {
            position: absolute;
            right: 0;
            bottom: 0;
        }


    </style>


</head>

<body class="navbar-bottom">

<!-- Main navbar -->
<div class="navbar navbar-inverse bg-slate-700">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ path('yarsha_studio_admin_dashboard') }}">
            {#<img src="assets/images/logo_light.png" alt="">#}
            <strong>Annapurna Post | Sampurna</strong>
        </a>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">

        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a>
            </li>
            {# notifications -- extras.html.twig #}
        </ul>

        {# online status -- extras.html.twig #}

        <ul class="nav navbar-nav navbar-right">

            {# extras.html.twig -- message/language switcher dropdown #}

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ asset('bundles/yarshastudioadmin/images/user2-160X160.png') }}" alt="">
                    <span>{{ app.user.username }}</span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="icon-user-plus"></i> My profile</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-switch2"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->


<!-- Page header -->
<div class="page-header">
    <div class="breadcrumb-line">
        {{ apy_breadcrumb_trail_render() }}
        <ul class="breadcrumb-elements">
            {% block page_actions %}{% endblock %}
        </ul>
    </div>

</div>
<!-- /page header -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        {{ include('@YarshaStudioAdmin/Includes/side_bar.html.twig') }}
        <!-- /main sidebar -->


        <!-- Main content -->
        <div class="content-wrapper">

            {% if ( app.session.flashbag.has('success') or (app.session.flashbag.has('error')) or errorMessage is defined ) %}
            <div class="row">
                <div class="col-lg-12">
                    {% if app.session.flashbag.has('success') %}
                    <div class="alert alert-success alert-dissmisible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {% for successMessage in app.session.flashbag.get('success') %}
                        <p>{{ successMessage }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if app.session.flashbag.has('error') %}
                    <div class="alert alert-warning alert-dissmisible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {% for errorMessage in app.session.flashbag.get('error') %}
                        <p>{{ errorMessage }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if errorMessage is defined %}
                    <div class="alert alert-warning alert-dissmisible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ errorMessage }}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}


            <div class="row">

                {% if (block('filter') is defined) and (block('filter') is not empty) %}
                <div class="col-md-12">
                    <div class=" collapse filter-wrap panel panel-default {{ ys_show_filter(app.request) ? 'in' : '' }}"
                         id="ysDataFilter">
                        <div class="panel-heading">
                            <h4 class="panel-title">Filter</h4>
                            <div class="heading-elements">
                                <ul class="icons-list">
                                    <li>
                                        <a data-toggle="collapse" data-target="#ysDataFilter"><i
                                                class="icon-minus3"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form method="get" id="adminFilterForm" class="form-horizontal">

                                {{ block('filter')|raw }}

                                <div class="clearfix"></div>

                                <div class="row margin-t-5" style="margin-top: 13px;">
                                    <div class="form-group-sm col-md-12">
                                        <input type="submit" class="btn btn-xs btn-primary" value="SEARCH">
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}


                {% block content %}{% endblock %}
            </div>

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->


<!-- Footer -->
<div class="navbar navbar-default navbar-fixed-bottom footer">
    <ul class="nav navbar-nav visible-xs-block">
        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#footer"><i
                class="icon-circle-up2"></i></a></li>
    </ul>

    <div class="navbar-collapse collapse" id="footer">
        <div class="navbar-text">
            Copyright &copy; {{ date()|date('Y') }}
            <a href="http://yarshastudio.com" target="_blank">YarshaStudio</a>. All rights reserved.
        </div>

        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('yarsha_studio_admin_dashboard') }}">Dashboard</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /footer -->


<script src="{{ asset('bundles/yarshastudioadmin/js/bootstrap-switch.min.js') }}"></script>
<script src="{{ asset('bundles/yarshastudioadmin/js/bootbox.min.js') }}"></script>
<script src="{{ asset('bundles/yarshastudioadmin/js/select2.min.js') }}"></script>

<script src="{{ asset('bundles/yarshastudioadmin/js/news.js') }}"></script>
<script type="text/javascript">

    news.baseUrl = '{{ url('yarsha_studio_admin_dashboard') }}';
</script>
<script src="{{ asset('bundles/yarshastudioadmin/js/news/core.js') }}"></script>
<script src="{{ asset('bundles/yarshastudioadmin/js/news/template.js') }}"></script>
<script src="{{ asset('bundles/yarshastudioadmin/js/news/template/template.js') }}"></script>
<script src="{{ asset('bundles/yarshastudioadmin/js/news/core/Exception.js') }}"></script>
<script src="{{ asset('bundles/yarshastudioadmin/js/news/core/http.js') }}"></script>

<script src="{{ asset('bundles/yarshastudioadmin/js/admin.js') }}"></script>

<script type="text/javascript">

</script>

{% block scripts %}{% endblock scripts %}

</body>
</html>
