<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>YarshaStudio News | Admin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{{ asset('bundles/yarshastudioadmin/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('bundles/yarshastudioadmin/css/AdminLTE.min.css') }}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ asset('bundles/yarshastudioadmin/css/_all-skins.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/yarshastudioadmin/css/bootstrap-switch.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/yarshastudioadmin/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/yarshastudioadmin/css/style.css') }}">

    <script src="{{ asset('bundles/yarshastudioadmin/js/jQuery-2.1.4.min.js') }}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-yellow sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="{{ url('yarsha_studio_admin_dashboard') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b>P</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Annapurna Post</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ asset('bundles/yarshastudioadmin/images/user2-160X160.png') }}"
                                 class="user-image"
                                 alt="User Image">
                            <span class="hidden-xs">Welcome {{ app.user.username|capitalize }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="{{ asset('bundles/yarshastudioadmin/images/user2-160X160.png') }}"
                                     class="img-circle" alt="User Image">
                                <p>
                                    {{ app.user.name|upper }}
                                    <small>{{ app.user.email }}</small>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                {#<div class="pull-left">#}
                                {#<a href="#" class="btn btn-default btn-flat">Profile</a>#}
                                {#</div>#}
                                <div class="pull-right">
                                    <a href="{{ url('fos_user_security_logout') }}" class="btn btn-default btn-flat">Sign
                                        out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- =============================================== -->

    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{ asset('bundles/yarshastudioadmin/images/user2-160X160.png') }}"
                         class="img-circle"
                         alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{ app.user.username }}</p>
                </div>
            </div>

            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="treeview">
                    <a href="{{ url('yarsha_studio_admin_dashboard') }}">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>Categories</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ url('yarsha_studio_admin_category_list') }}"><i class="fa fa-list"></i> List</a>
                        </li>
                        <li><a href="{{ url('yarsha_studio_admin_category_create') }}"><i class="fa fa-plus"></i>
                                Add</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>News</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ url('yarsha_studio_admin_news_list') }}"><i class="fa fa-list"></i> List</a>
                        </li>
                        <li><a href="{{ url('yarsha_studio_admin_news_create') }}"><i class="fa fa-plus"></i> Add</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-file"></i>
                        <span>Content</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ url('yarsha_studio_admin_content_index') }}"><i class="fa fa-list"></i> List</a>
                        </li>
                        <li><a href="{{ url('yarsha_studio_admin_content_create') }}"><i class="fa fa-plus"></i> Add</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-bar-chart"></i>
                        <span>Poll</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ url('yarsha_studio_admin_poll_list') }}"><i class="fa fa-list"></i> List</a>
                        </li>
                        <li><a href="{{ url('yarsha_studio_admin_poll_add') }}"><i class="fa fa-list"></i> Add</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-image"></i>
                        <span>Gallery</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ url('yarsha_studio_admin_gallery_list') }}"><i class="fa fa-list"></i> List</a>
                        </li>
                        <li><a href="{{ url('yarsha_studio_admin_gallery_add') }}"><i class="fa fa-plus"></i> Add</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-circle"></i>
                        <span>Horoscope</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ url('yarsha_studio_admin_horoscope_list') }}"><i class="fa fa-list"></i>
                                List</a></li>
                        <li><a href="{{ url('yarsha_studio_admin_horoscope_create') }}"><i class="fa fa-plus"></i>
                                Add</a></li>
                    </ul>
                </li>

                {#<li class="treeview">#}
                {#<a href="#">#}
                {#<i class="fa fa-image"></i>#}
                {#<span>Photo Feature</span>#}
                {#<i class="fa fa-angle-left pull-right"></i>#}
                {#</a>#}
                {#<ul class="treeview-menu">#}
                {#<li><a href="{{ url('yarsha_studio_admin_photo_feature_index') }}"><i class="fa fa-list"></i> List</a>#}
                {#</li>#}
                {#<li><a href="{{ url('yarsha_studio_admin_photo_feature_create') }}"><i class="fa fa-plus"></i> Add</a>#}
                {#</li>#}
                {#</ul>#}
                {#</li>#}

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-bullhorn"></i>
                        <span>Ad</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ url('yarsha_studio_admin_ad_list') }}"><i class="fa fa-list"></i> List</a></li>
                        <li><a href="{{ url('yarsha_studio_admin_ad_create') }}"><i class="fa fa-plus"></i> Add</a></li>
                    </ul>
                </li>

                {% if is_granted('ROLE_USER_MANAGER') %}
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-users"></i>
                            <span>Users</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ url('yarsha_studio_admin_users_list') }}"><i class="fa fa-list"></i>
                                    List</a></li>
                            <li><a href="{{ url('yarsha_studio_admin_user_create') }}"><i class="fa fa-plus"></i>
                                    Add</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>Authors</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ url('yarsha_studio_admin_author_list') }}"><i class="fa fa-list"></i>
                                    List</a>
                            </li>
                            <li><a href="{{ url('yarsha_studio_admin_author_create') }}"><i class="fa fa-plus"></i> Add</a>
                            </li>
                        </ul>
                    </li>

                    {#<li><a href="{{ path('yarsha_studio_admin_consumer_list') }}"><i class="fa fa-users"></i> Consumers</a>#}
                    {#</li>#}

                    <li><a href="{{ path('dmishh_settings_manage_global') }}"><i class="fa fa-cogs"></i> Setting</a>
                    </li>
                {% endif %}
            </ul>
        </section>
    </aside>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {% if pageTitle is defined %}{{ pageTitle }}{% endif %}
                <small>
                    {% if pageDescription is defined %}{{ pageDescription }}{% endif %}
                </small>
            </h1>
            {#<ol class="breadcrumb">#}
            {#<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>#}
            {#<li><a href="#">Examples</a></li>#}
            {#<li class="active">Blank page</li>#}
            {#</ol>#}
        </section>

        {% if ( app.session.flashbag.has('success') or (app.session.flashbag.has('error')) or errorMessage is defined ) %}
            <section id="message-display">
                <div class="col-md-12 margin">
                    {% if app.session.flashbag.has('success') %}
                        <div class="alert alert-success alert-dissmisible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {% for successMessage in app.session.flashbag.get('success') %}
                                <p>{{ successMessage }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if app.session.flashbag.has('error') %}
                        <div class="alert alert-warning alert-dissmisible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {% for errorMessage in app.session.flashbag.get('error') %}
                                <p>{{ errorMessage }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if errorMessage is defined %}
                        <div class="alert alert-warning alert-dissmisible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ errorMessage }}
                        </div>
                    {% endif %}
                </div>
            </section>
        {% endif %}

        <!-- Main content -->
        <section class="content">

            {% block content %}{% endblock %}

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <div class="clearfix"></div>

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; {{ date()|date('Y') }} <a href="http://nagariknews.com" target="_blank">YarshaStudio
                News</a>.</strong> All rights reserved.
    </footer>

</div><!-- ./wrapper -->


<!-- jQuery 2.1.4 -->
{#<script src="{{ asset('bundles/yarshastudioadmin/js/jQuery-2.1.4.min.js') }}"></script>#}
<!-- Bootstrap 3.3.5 -->
<script src="{{ asset('bundles/yarshastudioadmin/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/yarshastudioadmin/js/bootstrap-switch.min.js') }}"></script>
<script src="{{ asset('bundles/yarshastudioadmin/js/bootbox.min.js') }}"></script>
<!-- SlimScroll -->
<script src="{{ asset('bundles/yarshastudioadmin/js/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('bundles/yarshastudioadmin/js/select2.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('bundles/yarshastudioadmin/js/fastclick.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('bundles/yarshastudioadmin/js/app.min.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset('bundles/yarshastudioadmin/js/demo.js') }}"></script>
<script src="{{ asset('bundles/yarshastudioadmin/js/news.js') }}"></script>
<script type="text/javascript">

    news.baseUrl = '{{ url('yarsha_studio_admin_dashboard') }}';

</script>
<script src="{{ asset('bundles/yarshastudioadmin/js/news/core.js') }}"></script>
<script src="{{ asset('bundles/yarshastudioadmin/js/news/template.js') }}"></script>
<script src="{{ asset('bundles/yarshastudioadmin/js/news/template/template.js') }}"></script>
<script src="{{ asset('bundles/yarshastudioadmin/js/news/core/Exception.js') }}"></script>
<script src="{{ asset('bundles/yarshastudioadmin/js/news/core/http.js') }}"></script>

<script src="{{ asset('bundles/yarshastudioadmin/js/admin.js') }}"></script>
{% block scripts %}{% endblock scripts %}

</body>
</html>
