{% extends '@Property247Admin/layout.html.twig' %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Filter</h4>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group col-md-4">
                        <label for="title" class="col-lg-4 control-label">Name</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="name" value="{{ app.request.get('name') }}">
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="title" class="col-lg-4 control-label">Province</label>
                        <div class="col-lg-8">
                            {{ render_province_filter(app.request.get('province')) | raw }}
                        </div>
                    </div>

                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>


    <div class="col-lg-12">
        <div class="panel panel-lg">
            {% if districts | length %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>Name Nepali</td>
                        <td>Province</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in districts %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ d.name }}</td>
                            <td>{{ d.nameEn }}</td>
                            <td>
                            <span>
                                <strong>English: &nbsp;</strong>
                                {{ d.province ? d.province.provinceName : '' }}
                            </span>
                                <br>
                                <span>
                                <strong>Nepali: &nbsp;</strong>
                                    {{ d.province ? d.province.provinceNameNp : '' }}
                            </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {{ no_contents() }}
            {% endif %}
        </div>
    </div>

{% endblock %}