{% extends '@Property247Admin/layout.html.twig' %}

{% block content %}

<div class="col-lg-12">
    <div class="panel panel-lg">
        {% if provinces | length %}
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Name Nepali</td>
                </tr>
                </thead>
                <tbody>
                {% for p in provinces %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ p.provinceName }}</td>
                        <td>{{ p.provinceNameNp }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% for p in provinces %}

            {% endfor %}
        {% else %}
            {{ no_contents() | raw }}
        {% endif %}
    </div>
</div>

{% endblock %}