{% extends '@Property247Admin/layout.html.twig' %}

{% block content %}
<div class="col-md-12">
    <div class="col-md-3">
        <div class="panel bg-teal-400">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <i class="icon-book icon-3x"></i>
                    </div>
                    <div class="col-md-8">
                        <h3 class="no-margin">{{ count_subject() }}</h3>
                        Subjects
                    </div>
                </div>
            </div>
            <div class="panel-footer bg-teal">
                <div class="text-right">
                    <div class="col-md-12">
                        <a href="{{ path('admin_subject_add') }}" class="text-white">
                            Add
                        </a>
                        <span class="separator">|</span>
                        <a href="{{ path('admin_subject_list') }}" class="text-white">
                            List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel bg-blue-700">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <i class="icon-user icon-3x"></i>
                    </div>
                    <div class="col-md-8">
                        <h3 class="no-margin">{{ count_teacher() }}</h3>
                    </div>
                    Teacher
                </div>
            </div>
            <div class="panel-footer bg-blue-800">
                <div class="text-right">
                    <div class="col-md-12">
                        <a href="{{ path('admin_teacher_create') }}" class="text-white">
                            Add
                        </a>
                        <span class="separator">|</span>
                        <a href="{{ path('admin_teacher_list') }}" class="text-white">
                            List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel bg-blue-700">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <i class="icon-user icon-3x"></i>
                    </div>
                    <div class="col-md-8">
                        <h3 class="no-margin">{{ count_student() }}</h3>
                        Student
                    </div>
                </div>
            </div>
            <div class="panel-footer bg-blue-800">
                <div class="text-right">
                    <div class="col-md-12">
                        <a href="{{ path('admin_student_create') }}" class="text-white">
                            Add
                        </a>
                        <span class="separator">|</span>
                        <a href="{{ path('admin_student_list') }}" class="text-white">
                            List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
