{% extends '@Property247Main/Settings/layout.html.twig' %}

{% block settings_form %}
    {% form_theme settings_form '@Property247Main/Settings/Form/setting_form_layout.html.twig' %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {% trans from 'settings' %}settings{% endtrans %}
                </h4>
            </div>
            <div class="panel-body">
                <form method="post" id="settings-form" enctype="multipart/form-data" role="form" class="form-horizontal">
                    {{ form_widget(settings_form) }}
                    <br/>
                    <input type="submit" class="btn btn-primary" value="{% trans from 'settings' %}save{% endtrans %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
