<ul class="breadcrumb">
    <li><a href="{{ path('property_dashboard') }}"><i class="icon-home2 position-left"></i> Dashboard</a></li>
    {%- if breadcrumbs.count %}
      {% for breadcrumb in breadcrumbs %}
        {% set class = (loop.first ? 'home' : (loop.last ? 'current' : '')) %}
        <li {% for attr,value in breadcrumb.attributes -%}
              {%- if attr == 'class' %}{% set value = value ~ ' ' ~ class %}{% endif -%}
              {{ attr }}="{{ value }}"
            {%- endfor %}{% if breadcrumb.attributes.class is not defined %} class="{{ class }}"{% endif %}>
          {%- if breadcrumb.url is null or loop.last -%}
            {{ breadcrumb.title|trans }}
          {%- else -%}
            <a href="{{ breadcrumb.url }}">{{ breadcrumb.title|trans }}</a>
          {%- endif -%}
        </li>
      {% endfor %}
    {%- endif -%}

    {% if app.request.get('_route') == 'dmishh_settings_manage_global' %}
        <li class="Home">Global Settings</li>
    {% endif %}

    {% if app.request.get('_route') == 'dmishh_settings_manage_own' %}
        <li class="Home">Personal Settings</li>
    {% endif %}

</ul>

