{% extends '@Property247Admin/layout.html.twig' %}

{% block page_actions %}
    <li>
        <a href="{{ path('yarsha_admin_city_list') }}">
            List city
        </a>
    </li>
{% endblock %}

{% block content %}

    <style>
        .vich-image a img{
            height: 100px;
            width: auto;
            display: block;
        }
    </style>

    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-body">
                {{ form_start(form) }}
                <div class="col-md-6">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.type) }}
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    {{ form_row(form.province) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.district) }}
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    {#{% if isUpdating is defined  and isUpdating == true %}#}
                    {#<img src="{{ vich_uploader_asset(form.vars.data, 'image') }}" alt=""#}
                    {#style="width: 300px; height: auto;">#}
                    {#{% endif %}#}
                    {{ form_widget(form.image) }}
                </div>
                <div class="clearfix"></div>
                <div class="col-md-3">{{ form_row(form.featured) }}</div>
                {% set action = isUpdating is defined and isUpdating == true ? 'Update' : 'Add' %}
                <input type="submit" class="btn btn-primary pull-right" value="{{ action }}">

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>
//        var childs = $('#yarshastudio_localitybundle_city_image').children();
//        if (childs.length > 1) {
//            $(childs[0]).find('input[type=file]').on('change', function () {
//                $(childs[1]).find('input[type=checkbox]').attr('checked', true);
//            })
//            $(childs[1]).hide();
//        }

        $('.select-province').on('change', function () {
            var provinceId = $(this).val();
            var districts = $('.select-district');
            $.each(districts, function (i, d) {
                if ($(d).data('province-id') == provinceId) {
                    $(d).show();
                } else {
                    $(d).attr('selected', false);
                    $(d).hide();
                }
            });
        });

        //        $('.district-select').on('change', function(){
        //            var districtId = $(this).val();
        //            var provinces = $('.select-province').children();
        //            $.each(provinces, function(i, d){
        //                if($(d).val() == districtId){
        //                    $(d).attr('selected', true);
        //                }   else    {
        //                    $(d).attr('selected', false);
        //                }
        //            });
        //        });

        $('.select-province').trigger('change');
        //        $('.district-select').trigger('change');
    </script>

{% endblock %}