{% extends '@Property247Admin/layout.html.twig' %}

{% block page_actions %}
    <li>
        <a href="{{ path('yarsha_admin_city_add') }}">
            <i class="fa fa-plus"></i>&nbsp;
            Add City
        </a>
    </li>
{% endblock %}

{% block content %}

    <div class="col-md-12">
        {% if cities | length %}
        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th>SN</th>
                <th>Name</th>
                <th>Image</th>
                <th>Province</th>
                <th>District</th>
                <th>Featured</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for c in cities %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ c.name }}</td>
                    <td>
                        <img src="{{ vich_uploader_asset(c, 'image') }}" alt="" style="width: 100px;height:auto;">
                    </td>
                    <td>{{ c.province ? c.province.provinceName : '' }}</td>
                    <td>{{ c.district ? c.district.nameEn : '' }}</td>
                    <td>
                        {% if c.featured %}
                            <span class="label label-success">Yes</span>
                        {% else %}
                            <span class="label label-warning">No</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('yarsha_admin_city_update', {id:c.id}) }}" class="btn btn-info btn-xs">
                            <i class="fa fa-edit"></i>&nbsp; Edit
                        </a>
                        <a href="{{ path('yarsha_admin_city_delete', {id:c.id}) }}" class="btn btn-danger btn-xs delete-item">
                            <i class="fa fa-trash"></i>&nbsp; Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            {{ no_contents() }}
        {% endif %}
    </div>

{% endblock %}