input[type="button"],
input[type="reset"],
input[type="submit"] {
	background:$dark-color;
	color: $white-color;
	display: block;
	border: none;
	text-transform: uppercase;
	margin: 0 0 0 0;
	padding: 13px 30px ;
	border-radius: 0;
	-webkit-border-radius: 0;
	font-weight: 500;
	@include vendor-prefix('transition', 'none');
	@include vendor-prefix('transition', 'all 0.7s linear');
	@include breakpoint(small){
		float:none;
		margin:15px auto 0;
		width: 300px;
		max-width: 100%;
	}
	@include breakpoint(smaller){
		width: 200px;
		    padding: 8px;
	}

	&:hover,
	&:active,
	&:focus {

		/*color: $white-color;
		-webkit-box-shadow: inset 290px 0 0 0 $primary-color;
		box-shadow:  inset 290px 0 0 0 $primary-color;*/           
	}
}
.form-section{
	.rounded-btn{
		background: none;
		width: 357px;
		margin: 0 auto;
		padding: 20px;
		border: 3px solid $white-color;
		border-radius: 35px;
		-webkit-border-radius: 35px;
		font-size: 29px;
		margin-top: 30px;
		max-width: 100%;
		display: block;
		@include breakpoint(medium){
			padding: 10px;
			font-size: 22px;

		}
		&:hover{
			-webkit-box-shadow: inset 380px 0 0 0 $dark-color;
			box-shadow:  inset 380px 0 0 0 $dark-color; 
		}
	}
}