input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
	background-color:$white-color;
	border: none;
	border-bottom: 1px solid #e6e6e6;
	box-shadow: none;
	-webkit-box-shadow: none;
	display: block;
	padding: 10px ;
	font-size: 14px;
	line-height: 1 ;
	font-weight: 400;
	width: 100%;
	color: #a5a5a5;
	margin-bottom: 0;
	font-weight: 300;

	@include placeholder{
		color: #a5a5a5;
		font-weight: 400;
	}

	&:focus {
		/*color: $color__text-input-focus;*/
	}
	@include breakpoint(medium){
		padding: 10px;
	}
	
}
select {
	text-transform: capitalize;	
}
textarea {
	min-height: 100px;
	width: 100%;
	border: 1px solid $border-color;


}
.reserve{
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea,
	select{
		background: rgba(225, 225, 225, 0.6);
		margin-bottom: 40px;
		@include breakpoint(small){
			padding:15px;
			margin-bottom: 20px;
		}
	}
}

.form-section-side{
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea,
	select{
		
	}
}