
/*--------------------------------------------------------------
## color
--------------------------------------------------------------*/

$dark-color: #303030;
$grey-color: #313131;
$primary-color: #0d07c1;
$main-color: #017f3f;
$white-color:#fff;
$secondary-color:#2786c8;
$link-color: #757575;
$btn-color:  #f44336;
$border-color: #e6e6e6;

/*--------------------------------------------------------------
## font
--------------------------------------------------------------*/

$font__primary:'Rubik', sans-serif;

