{% use "bootstrap_3_horizontal_layout.html.twig" %}

{% block form_label_class -%}
col-sm-4
{%- endblock form_label_class %}


{% block form_group_class -%}
col-sm-8
{%- endblock form_group_class %}



{% block checkbox_radio_label %}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {% if widget is defined %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not same as(false) and label is empty %}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}

        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-lg-12')|trim}) %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <div class="row">
                <div class="col-sm-6">
                    {{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) -}}
                </div>
                <div class="col-sm-6">
                    {{- widget|raw }}
                </div>
            </div>
        </label>
    {% endif %}
{% endblock checkbox_radio_label %}

{% block checkbox_radio_row -%}
    {% spaceless %}
        <div class="form-group{% if not valid %} has-error{% endif %}">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{%- endblock checkbox_radio_row %}