{% macro overviewPanel(form, h) %}
    {% import _self as macro %}
    <div class="panel panel-less-padding">
        <div class="panel-heading bg-slate">
            <h4 class="panel-title">Overview</h4>
        </div>
        <div class="panel-body">
            {{ macro.overview(form,h) }}
        </div>
    </div>
{% endmacro %}

{% macro overview(form, h, d) %}
    {% if d == true %} <div class="col-md-6"> {% endif %}
    {% if 'ROLE_SUPER_ADMIN' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
        <div class="col-md-12">
            {{ form_row(form.agent) }}
        </div>
    {% endif %}
    <div class="col-md-12">
        {{ form_row(form.name,{'label':'Title'}) }}
    </div>
    {% if h == true %}
        <div class="col-md-12">
            {{ form_row(form.storeyed) }}
        </div>
    {% endif %}
    <div class="col-md-12">
        {{ form_row(form.type) }}
    </div>
    <div class="col-md-12">
        {{ form_row(form.suitableFor) }}
    </div>
    {% if h is defined and h == true %}
        <div class="col-md-12">
            {{ form_row(form.houseStructure) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.houseStructureDescription) }}
        </div>
    {% endif %}
    {% if d == true %} </div> <div class="col-md-6"> {% endif %}
    <div class="col-md-12">
        {{ form_row(form.kittaNumber) }}
    </div>
    <div class="col-md-12">
        {{ form_row(form.wardNumberOnMap) }}
    </div>
    {% if h is defined and h == true %}
        <div class="col-md-12">
            {{ form_row(form.builtDate) }}
        </div>
    {% endif %}
    <div class="col-md-12">
        {{ form_row(form.price) }}
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="" class="control-label col-md-4">Price negotiable</label>
            <div class="col-md-8">
                {{ form_widget(form.priceNegotiable,{'label':false}) }}
            </div>
        </div>
    </div>
    <div class="col-md-12 remarks-block" style="display: none;">
        {{ form_row(form.remarks) }}
    </div>
    {% if d == true %} </div> {% endif %}
{% endmacro %}

{% macro measurementsPanel(form, h) %}
    {% import _self as macro %}
    <div class="panel panel-less-padding">
        <div class="panel-heading bg-slate">
            <h4 class="panel-title">Measurements</h4>
        </div>
        <div class="panel-body">
            {{ macro.measurements(form,h) }}
        </div>
    </div>
{% endmacro %}

{% macro measurements(form, h, d) %}
    <div class="col-md-12">
        {% if d == true %}
        <div class="col-md-6"> {% endif %}
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-4 control-label">Total Area</label>
                    <div class="col-md-4">
                        {{ form_widget(form.areaUnit, {'placeholder':'Unit'}) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_widget(form.totalArea) }}
                    </div>
                    <div class="col-md-12">{{ form_errors(form.totalArea) }}</div>
                </div>
            </div>
            {% if h is defined and h == true %}
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-4 contorl-label">Total Floor Area</label>
                        <div class="col-md-4">
                            {{ form_widget(form.totalFloorCoverage) }}
                        </div>
                        <div class="col-md-4">Square feet</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-md-4 control-label">Ground Coverage</label>
                        <div class="col-md-4">
                            {{ form_widget(form.houseBuildArea) }}
                        </div>
                        <div class="col-md-4">Square feet</div>
                    </div>
                </div>
            {% endif %}
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-4 control-label">Road Access</label>
                    <div class="col-md-3">
                        {{ form_widget(form.roadType) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_widget(form.roadAccessUnit) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_widget(form.roadAccess) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                {{ form_row(form.mainRoadName) }}
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-4 control-label">Distance from main road</label>
                    <div class="col-md-4">
                        {{ form_widget(form.distanceMeasureType) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_widget(form.distanceFromMainRoad) }}
                    </div>
                </div>
            </div>
            {% if d == true %} </div>
        <div class="col-md-6"> {% endif %}
            {% if h is defined and h == true %}
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Top Water Tank:</label>
                        <div class="col-md-4">{{ form_widget(form.topWaterTank) }}</div>
                        <div class="col-md-4">Litres</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Reserve Water Tank:</label>
                        <div class="col-md-4">{{ form_widget(form.reserveWaterTank) }}</div>
                        <div class="col-md-4">Litres</div>
                    </div>
                </div>
            {% endif %}
            {% if h is defined and h == true %}
                <div class="col-md-12">
                    {{ form_row(form.houseFacedOn) }}
                </div>
            {% endif %}
            <div class="col-md-12">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">Front face (Mohoda)</label>
                    <div class="col-md-4">{{ form_widget(form.frontFaceUnit,{'placeholder':'Unit'}) }}</div>
                    <div class="col-md-4">{{ form_widget(form.frontFace) }}</div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">Back face (Pichhad)</label>
                    <div class="col-md-4">{{ form_widget(form.backFaceUnit,{'placeholder':'Unit'}) }}</div>
                    <div class="col-md-4">{{ form_widget(form.backFace) }}</div>
                </div>
            </div>
            {% if d == true %} </div> {% endif %}
    </div>
{% endmacro %}

{% macro locationPanel(form) %}
    {% import _self as macro %}
    <div class="panel panel-less-padding">
        <div class="panel-heading bg-slate">
            <h4 class="panel-title">Location</h4>
        </div>
        <div class="panel-body">
            {{ macro.location(form) }}
        </div>
    </div>
{% endmacro %}

{% macro location(form) %}
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="col-md-12">
                {{ render_provinces() }}
            </div>
            <div class="col-md-12">
                {{ render_districts() }}
            </div>
            <div class="col-md-12">
                {{ form_row(form.city) }}
            </div>
            <div class="col-md-12">
                {{ form_row(form.streetName) }}
            </div>
            <div class="col-md-12">
                {{ form_row(form.toleWardNumber,{'label':'Ward number'}) }}
            </div>
            <div class="col-md-12">
                {{ form_row(form.latitude) }}
            </div>
            <div class="col-md-12">
                {{ form_row(form.longitude) }}
            </div>
            <div class="col-md-12">
                {{ form_row(form.location) }}
            </div>
        </div>
        <div class="col-md-6">
            <div id="map" style="width: 100%;height: 440px; margin-bottom: 5px;"></div>
        </div>
    </div>

{% endmacro %}

{% macro detailedPanelForm(form, h, d) %}
    {% import _self as macro %}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs bg-teal-800 property-detail-form-nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#overview" aria-controls="home" role="tab" data-toggle="tab">Overview</a>
        </li>
        <li role="presentation">
            <a href="#measurements" aria-controls="home" role="tab" data-toggle="tab">Measurements</a>
        </li>
        <li role="presentation">
            <a href="#location" aria-controls="home" role="tab" data-toggle="tab">Location</a>
        </li>
        {#<li role="presentation"><a href="#location" aria-controls="location" role="tab" data-toggle="tab">Location</a></li>#}
        {% if h is defined and h == true %}
            <li role="presentation">
                <a href="#floorplan" aria-controls="floorplan" role="tab" data-toggle="tab">Floor Plan</a>
            </li>
        {% endif %}
        <li role="presentation">
            <a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">Gallery</a>
        </li>
        <li role="presentation">
            <a href="#documents" aria-controls="documents" role="tab" data-toggle="tab">Documents</a>
        </li>
        <li role="presentation">
            <a href="#amenities" aria-controls="amenities" role="tab" data-toggle="tab">Amenities</a>
        </li>
        <li role="presentation">
            <a href="#additionalDetails" aria-controls="additionalDeatils" role="tab" data-toggle="tab">Additional
                Details</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content property-detail-form">
        <div class="tab-pane active" id="overview">
            {{ macro.overview(form, h, d) }}
            <div class="clearfix"></div>
            <div class="col-md-12 pull-right">
                <input type="submit"
                       value="Update"
                       class="btn btn-primary pull-right">
            </div>
        </div>
        <div class="tab-pane" id="measurements">
            {{ macro.measurements(form, h, d) }}
            <div class="clearfix"></div>
            <div class="col-md-12 pull-right">
                <input type="submit"
                       value="Update"
                       class="btn btn-primary pull-right">
            </div>
        </div>
        <div class="tab-pane" id="location">
            {{ macro.location(form, h, d) }}
            <div class="clearfix"></div>
            <div class="col-md-12 pull-right">
                <input type="submit"
                       value="Update"
                       class="btn btn-primary pull-right">
            </div>
        </div>
        {% if h is defined and h == true %}
            <div class="tab-pane" id="floorplan">
                <div class="floor-planning"
                     data-prototype="{{ macro.floorPlanningForm(form.floorPlannings.vars.prototype) | e }}">
                    {% for f in form.floorPlannings %}
                        {{ macro.floorPlanningForm(f, loop.index) }}
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
                <button class="btn btn-primary add-floor-planning">Add Floor Plan</button>
                <div class="clearfix"></div>
                <div class="col-md-12 pull-right">
                    <input type="submit"
                           value="Update"
                           class="btn btn-primary pull-right">
                </div>
            </div>
        {% endif %}
        <div class="tab-pane" id="gallery">
            <div class="col-md-4">
                <div class="dropzone" id="propertyImage" style="height: 400px; overflow: scroll;"></div>
            </div>
            <div class="col-md-8" style="height: 400px; overflow: scroll;">
                <table class="table table-bordered table-responsive table-hover">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Details</th>
                        <th>Featured</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody id="gallery-images">
                    {% for i in form.vars.value.images | reverse %}
                        {{ macro.imageListPartial(i) }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="tab-pane" id="documents">
            {% set documentLength = form.vars.value.documents | length %}
            <div id="propertyDocuments"
                 data-prototype="{{ macro.documentForm(form.documents.vars.prototype,documentLength) | e }}">
                {% for d in form.documents %}
                    {{ macro.documentForm(d,loop.index) }}
                {% endfor %}
            </div>
            <div class="clearfix"></div>
            <button class="btn btn-primary add-property-document">Add Document</button>
            <div class="col-md-12 pull-right">
                <input type="submit"
                       value="Update"
                       class="btn btn-primary pull-right">
            </div>
        </div>
        <div class="tab-pane" id="amenities">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-body">
                        <h4 class="panel-title">Public:</h4>
                        {{ form_widget(form.publicAmenities) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-body">
                        <h4 class="panel-title">Private:</h4>
                        {{ form_widget(form.privateAmenities) }}
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 pull-right">
                <input type="submit"
                       value="Update"
                       class="btn btn-primary pull-right">
            </div>
        </div>
        <div class="tab-pane" id="additionalDetails">
            {{ macro.additionalDetails(form) }}
        </div>
    </div>
{% endmacro %}

{% macro additionalDetails(form) %}
    <div class="col-md-6">
        <div class="col-md-12">{{ form_row(form.referenceBy) }}</div>
        <div class="col-md-12">{{ form_row(form.referenceContactNumber) }}</div>
        <div class="col-md-12">{{ form_row(form.ownerOrContactPersonName) }}</div>
        <div class="col-md-12">{{ form_row(form.ownerContactNumber) }}</div>
        <div class="col-md-12">{{ form_row(form.email) }}</div>
        <div class="col-md-12">{{ form_row(form.communityType) }}</div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">{{ form_row(form.reasonForSale) }}</div>
        <div class="col-md-12">{{ form_widget(form.socailMediaPromotion) }}</div>
        <div class="col-md-12">{{ form_row(form.agreementFormImageFile) }}</div>
    </div>
    <div class="col-md-12 pull-right">
        <input type="submit"
               value="Update"
               class="btn btn-primary pull-right">
    </div>
{% endmacro %}

{% macro documentForm(form,i) %}
    <div class="col-md-6">
        <div class="document form-group">
            {% if form.vars.value is not null %}
                <div class="col-md-12" style="margin-bottom: 10px;">
                    <a href="{{ '/uploads/property/documents/' ~ form.vars.value.documentFileName }}" target="_blank">
                        <div class="property-detail-document-preview">
                            <img src="{{ asset('/uploads/property/documents/' ~ form.vars.value.documentFileName) }}"
                                 class="img-responsive"
                                 alt="">
                        </div>
                    </a>
                </div>
            {% endif %}
            <div class="col-md-12">
                <div class="col-md-4">{{ form_widget(form.document) }}</div>
                <div class="col-md-7">{{ form_widget(form.documentFile) }}</div>
                <div class="col-md-1">
                    <button class="btn btn-danger btn-sm delete-document-btn pull-right">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro imageListPartial(i) %}
    <tr>
        <td>
            <img src="{{ asset('/uploads/property_images/' ~ i.imageName) }}"
                 style="height: auto; width: 100px;" alt="{{ i.caption }}">
        </td>
        <td>
            <p>
                <strong>Caption: </strong>
                <br>
                {{ i.caption }}
            </p>
            <p>
                <strong>Description: </strong>
                <br>
                {{ i.description }}
            </p>
        </td>
        <td>
            <input type="checkbox" class="set-featured-image" {{ i.featured ? 'checked' : '' }}
                   data-image-id="{{ i.id }}">
        </td>
        <td>
            <button class="btn btn-primary btn-xs edit" data-image-id="{{ i.id }}">Edit</button>
            <button class="btn btn-danger btn-xs delete" data-image-id="{{ i.id }}">Delete</button>
        </td>
    </tr>
{% endmacro %}

{% macro floorPlanningForm(form, index) %}
    {% import _self as macro %}
    <div class="col-md-6 floor-plan-amenity">
        <div class="panel panel-less-padding">
            <div class="panel-heading bg-teal">
                <h4 class="panel-title">
                    Floor Plan
                    <button class="btn btn-danger btn-xs pull-right btn-xs delete-floor-btn"
                            style="display: inline-block;">
                        <i class="fa fa-times"></i>
                    </button>
                </h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">{{ form_row(form.floorName) }}</div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Total area</label>
                        <div class="col-sm-4">{{ form_widget(form.areaUnit,{'placeholder':'Unit'}) }}</div>
                        <div class="col-sm-4">{{ form_widget(form.totalArea) }}</div>
                    </div>
                </div>
                <div class="col-md-12">{{ form_row(form.image2DFile, {'label':'2D image of floor'}) }}</div>
                <div class="clearfix"></div>
                <hr>
                <div class="col-md-12">
                    <div class="floor-amenity-wrapper"
                         data-prototype="{{ macro.floorPlanAmenity(form.floorPlanAmenities.vars.prototype) | e }}">
                        <div class="col-md-12">
                            <span>
                                <strong>Configurations</strong>
                            </span>
                        </div>
                        {% for a in form.floorPlanAmenities %}
                            {{ macro.floorPlanAmenity(a, loop.index) }}
                        {% endfor %}
                    </div>
                </div>
                <button class="btn btn-primary btn-xs add-amenity-btn" data-index="{{ index - 1 }}">Add configuration
                </button>
            </div>
        </div>
    </div>

    {% if index % 2 == 0 %}
        <div class="clearfix"></div> {% endif %}

{% endmacro %}

{% macro floorPlanAmenity(form,i) %}
    <div class="floor-amenity">
        <div class="form-group">
            <div class="col-md-6">{{ form_widget(form.amenity) }}</div>
            <div class="col-md-3">{{ form_widget(form.quantity) }}</div>
            <div class="col-md-1">
                <button class="btn btn-xs btn-danger delete-floor-plan-amenity">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro propertyImages(images) %}
    {% for i in images %}
        <div class="col-sm-4 col-xl-4" style="height: 100px;">
            <div class="card">
                <a href="#">
                    <img src="{{ vich_uploader_asset(i, 'imageName') }}" alt="" style="width: 100%; height: auto;">
                </a>
            </div>
        </div>
    {% endfor %}
{% endmacro %}