{% extends '@Property247Attendance/teacher/layout.html.twig' %}
{% block style %}
    {{ parent() }}
    .mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th ,.mytable>td{
    padding: 1px;
    border: solid white;
    border-width: 7px 7px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

    .teacher-table>tbody>tr>td, .teacher-table>tbody>tr>th, .teacher-table>thead>tr>td, .teacher-table>thead>tr>th ,.teacher-table>td{
    padding: 1px;
    border: solid white;
    border-width: 7px 7px;
    max-width: 200px;
    }

    .subjecttable>tbody>tr>td, .subjecttable>tbody>tr>th, .subjecttable>thead>tr>td, .subjecttable>thead>tr>th ,.subjecttable>td{
    padding: 1px;
    border: solid white;
    border-width: 2px 2px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:white;
    height: 30px;

    }

    .today-date{
    font-size: large;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    }

    .vert-align{
    vertical-align: middle !important;
    }


    a{
    color: black;
    text-decoration: none !important;
    }

    .semester{
    height: 120px !important;
    width: 120px !important;
    background-color: #96d172;
    transition: all .2s ease-in-out;
    }

    .semester:hover{
    transform: scale(1.06, 1.04);
    }

    a:hover{
    color: #1aa1b5;
    }

    #edit{
    background-color: #3589e7;

    }

    #delete{
    background-color: #ee5b5b;
    }


    .notice-box{
    background-color: #fff;
    padding: 10px;
    box-shadow: 3px 3px 8px #6a6868;
    border-radius: 15px 0px 15px 0px;
    opacity: 0.8;
    transition: all .2s ease-in-out;
    }

    .notice-box:hover{
    opacity: 1.0;
    transform: scale(1.06, 1.04);
    }

    .take-attendance{
    transition: all .2s ease-in-out;
    }


    .take-attendance:hover{
    box-shadow: 5px 5px 10px #252727 !important;
    transform: scale(1.06, 1.04);
    }


    .edit-modal{
    transition: all .2s ease-in-out;
    }

    .edit-modal:hover{
    transform: scale(1.06, 1.04);
    }

    .delete-modal{
    transition: all .2s ease-in-out;
    }

    .delete-modal:hover{
    transform: scale(1.06, 1.04);
    }

    .rad{
    border-radius: 50px;
    }

    input[type=radio]{
    zoom:60%;
    transition: all .2s ease-in-out;
    }

    input[type=radio]:checked {
    zoom: 100%;
    }


    @media(max-width:400px){
    .hide-attend{
    display: none;
    }

    .mobile{
    zoom: 60%;
    }

    .rad{
    zoom: 80%;
    }

    .pie-mobile{
    zoom: 40%;
    }

    .notice{
    margin-top: 8px;
    }
    }


{% endblock %}

{% block content %}
    <div class="container mobile">
        <div class="row">
            <div class=" col-md-11 ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><strong>{{subject.name}}</strong>:(sem-{{subject.semester}})
                            <center>
                                <label style="height: 20px; width: 40px; background-color: #4CAF50; margin-bottom: 0px;"></label> Present

                                <label style="height: 20px; width: 40px; background-color: #F44336; margin-left: 15px; margin-bottom: 0px; "></label> Absent
                                <label style="height: 20px; width: 40px; background-color: #96a6a6; margin-left: 15px; margin-bottom: 0px;"></label> Leave
                            </center>

                            <label class="today-date" style="float: right;">Date: {{ today }}</label>
                        </h3>
                    </div>
                    <div class= "panel-body">
                        <form id="attendance" method="POST" action="{{ path('teacher_take_attendance', {'id':subject.id}) }}">
                            <input type="hidden" name="date" value="{{'now'|date('Y-m-d ')}}">

                            <div class="table-responsive">
                                <table class="table mytable">
                                    <thead>
                                    <tr>
                                        <th>Roll</th>
                                        <th>Student</th>
                                        {% for i in range(num_recent_dates-1, 0)%}
                                            <th class="hide-attend"><center>{{ date[i] }}</center></th>
                                        {% endfor %}
                                        <th></th>
                                        <th class="vert-align"><center> Total: <strong>{{ total_attendance_days }}</strong></center></th>
                                        <th></th> <th></th> <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr></tr>
                                    {% for i in range(0,count_std-1)%}
                                    <tr>
                                        <td class="vert-align">{{students[i].roll}}</td>
                                        <td style="width:200px" class="vert-align"><a href="">{{ students[i].name }}</a></td>
                                        {% for j in range(num_recent_dates-1, 0)%}
                                                {% if attendances[i][j].attendance=='p' %}
                                                <td class="bg-success hide-attend"></td>
                                               {% elseif attendances[i][j].attendance=='a'  %}
                                                <td class="bg-danger hide-attend"></td>
                                                {% else %}
                                                <td bgcolor="#96A6A5" class="hide-attend"></td>
                                                {% endif %}
                                        {% endfor %}

                                        <td></td>

                                        <td class="total-present vert-align"><center><h4><strong>{{ total_present[i] }}</strong></h4></center></td>

                                        <td>
                                            <label class="btn btn-success pull-right rad">
                                                <input type="radio" name="attend{{ i }}" required value="p"> P
                                            </label>
                                        </td>
                                        <td>
                                            <label class="btn btn-danger pull-right rad">
                                                <input type="radio" name="attend{{ i }}" value="a"> A
                                            </label>
                                        </td>
                                        <td>
                                            <label class="btn btn-default pull-right rad">
                                                <input type="radio" name="attend{{ i }}" value="l"> L
                                            </label>
                                        </td>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <button type="submit" class="btn btn-primary btn-md pull-right" style="margin-right: 20px">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
