{% extends '@Property247Attendance/teacher/layout.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="panel bg-teal-400">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="icon-book icon-3x"></i>
                        </div>
                        <div class="col-md-8">
                            <h3 class="no-margin">10</h3>
                            Land Properties
                        </div>
                    </div>
                </div>
                <div class="panel-footer bg-teal">
                    <div class="text-right">
                        <div class="col-md-12">
                            <a href="{{ path('add_land_property') }}" class="text-white">
                                Add
                            </a>
                            <span class="separator">|</span>
                            <a href="{{ path('list_land_property') }}" class="text-white">
                                List
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel bg-blue-700">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="icon-book icon-3x"></i>
                        </div>
                        <div class="col-md-8">
                            <h3 class="no-margin">{{ count_property('h') }}</h3>
                            House Properties
                        </div>
                    </div>
                </div>
                <div class="panel-footer bg-blue-800">
                    <div class="text-right">
                        <div class="col-md-12">
                            <a href="{{ path('add_house_property') }}" class="text-white">
                                Add
                            </a>
                            <span class="separator">|</span>
                            <a href="{{ path('list_house_property') }}" class="text-white">
                                List
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
