<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sajilo Attendance | Teacher</title>



    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="{{ asset('backend/layout1/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('backend/layout1/css/icons/fontawesome/styles.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('backend/layout1/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('backend/layout1/css/core.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('backend/layout1/css/components.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('backend/layout1/css/colors.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('backend/layout1/css/custom.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('backend/css/style.css') }}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="{{ asset('backend/layout3/js/plugins/loaders/pace.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/layout3/js/core/libraries/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/layout3/js/core/libraries/jquery_ui/full.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/layout3/js/core/libraries/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/layout3/js/plugins/loaders/blockui.min.js') }}"></script>
    <!-- /core JS files -->

    <script type="text/javascript" src="{{ asset('backend/layout3/js/core/app.min.js') }}"></script>

    {#<script type="text/javascript" src="{{ asset('backend/layout3/js/pages/dashboard.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('backend/layout3/js/plugins/ui/ripple.min.js') }}"></script>#}
    <!-- /theme JS files -->
<style>
    {% block style %}

    {% endblock %}
</style>
</head>

<body class="navbar-bottom">

<!-- Main navbar -->
<div class="navbar navbar-inverse bg-slate-700">
    <div class="navbar-header">
        <a class="navbar-brand" href="/admin">
            {#<img src="assets/images/logo_light.png" alt="">#}
            <strong>Sajilo Attendance</strong>
        </a>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">

        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a>
            </li>
            {# notifications -- extras.html.twig #}
        </ul>

        {# online status -- extras.html.twig #}

        <ul class="nav navbar-nav navbar-right">

            {# extras.html.twig -- message/language switcher dropdown #}

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ asset('bundles/property247admin/images/user2-160X160.png') }}" alt="">
                    <span>{{ app.user.username }}</span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="icon-user-plus"></i> My profile</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-switch2"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->


{% include '@Property247Admin/Includes/commonmodal.html.twig' %}



<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        {% include '@Property247Attendance/teacher/includes/sidebar.html.twig' %}
        <!-- /main sidebar -->


        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Page header -->
            <div class="page-header">
                <div class="breadcrumb-line">
                    {{ apy_breadcrumb_trail_render() }}
                    <ul class="breadcrumb-elements">
                        {% block page_actions %}{% endblock %}
                    </ul>
                </div>

            </div>
            <!-- /page header -->

            {% if ( app.session.flashbag.has('success') or (app.session.flashbag.has('error')) or errorMessage is defined ) %}
                <div class="col-lg-12">
                    {% if app.session.flashbag.has('success') %}
                        <div class="alert alert-success alert-dissmisible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {% for successMessage in app.session.flashbag.get('success') %}
                                <p>{{ successMessage }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if app.session.flashbag.has('error') %}
                        <div class="alert alert-warning alert-dissmisible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {% for errorMessage in app.session.flashbag.get('error') %}
                                <p>{{ errorMessage }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if errorMessage is defined %}
                        <div class="alert alert-warning alert-dissmisible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ errorMessage }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            {% block content %}{% endblock %}

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->


<!-- Footer -->
<div class="navbar navbar-default navbar-fixed-bottom footer">
    <ul class="nav navbar-nav visible-xs-block">
        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#footer"><i
                        class="icon-circle-up2"></i></a></li>
    </ul>

    <div class="navbar-collapse collapse" id="footer">
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="/">Dashboard</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /footer -->

<script>
    $('#reset').on('click',function () {
        var pieces = document.URL.split('?');
        var url = pieces.length ? pieces[0] : pieces;
        window.location.href = url;
    })
</script>
<script src="{{ asset('bundles/property247admin/js/bootstrap-switch.min.js') }}"></script>
<script src="{{ asset('bundles/property247admin/js/bootbox.min.js') }}"></script>
<script src="{{ asset('bundles/property247admin/js/select2.min.js') }}"></script>

<script>
    $('.delete-item').on('click', function(e){
        e.preventDefault();
        var href = $(e.target).attr('href');
        bootbox.confirm({
            size:'small',
            message: 'Are you sure ?',
            callback: function(result){
                if(result){
                    window.location.href = href;
                }   else    {
                    return;
                }
            }
        });
    });

    $('.vich-image').find('input[type=file]').on('change', function(e){
        e.preventDefault();
        $(this).closest('.vich-image').find('input[type=checkbox]').attr('checked', true);
    });

</script>

{% block scripts %}{% endblock scripts %}
</body>
</html>
