{% extends '@Property247Attendance/teacher/layout.html.twig' %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-flat">
            {% if subjects|length %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-xs table-framed">
                        <tr>
                            <th>#</th>
                            <th>Subject Name</th>
                            <th>Semester</th>
                            <th>Action</th>
                        </tr>
                        {% for subject in subjects%}
                            <tr>
                                <td>
                                    {{ loop.index }}
                                </td>
                                <td>{{ subject.name }}</td>
                                <td>{{ subject.semester}}</td>
                                <td>
                                    <a href="{{ path('teacher_subject_attendance',{'id':subject.id})}}"
                                       title="Edit" class="btn btn-success">
                                        <i class="icon icon-check"></i> Take Attendance
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                {{ no_contents('No Subject to list.')|raw }}
            {% endif %}

            <div class="clearfix"></div>

        </div>

        <div class="text-right">
            {{ knp_pagination_render(subjects) }}
        </div>

    </div>

    <div class="clearfix"></div>
{% endblock content %}
