 <section class="tp-search-section">
        <div class="container">
            <form>
                <div class="search-section">

                    <div class="location">
                        <a href="#feature-property">
                            <!--  <img src="images/map.png" alt="">  -->
                            <span class="ti-location-pin"></span>
                            cities
                        </a>
                    </div>
                    <div class="search-bx">

                        <input type="search" name="" placeholder="Search by Location, Project or landmark">

                    </div>
                    <button class="search-btn"><span class="ti-search"></span></button>
                </div><!-- .seach-section -->
            </form>
        </div>
    </section>
    <section class="breadcumb">
        <div class="container">
            <a href="{{ path('property_frontend_index_page') }}"> Home </a> > <a href=""> {{ property.city.name }} </a>
        </div>
    </section>
    <section class="inner-banner">
        <div class="container">
            <div class="inner-slider">
                <div class="items">
                    <img src="{{ asset('bundles/property247frontend/images/logo.png') }}images/inner-banner.jpg" alt="">
                </div><!-- .items -->
                <div class="items">
                    <img src="images/inner-banner.jpg" alt="">
                </div><!-- .items -->
            </div><!-- .slider -->
        </div>
    </section> <!-- .banner -->

    <section class="property-des">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title-porperty">
                        <h3>{{ property.name }}</h3>
                        <span>{{ property.location }}, {{ property.city.name }}</span>
                    </div> <!-- .title-porperty -->
                </div><!-- .col -->
                <div class="col-sm-6">
                    <div class="property-price">
                        Price : <strong> Rs. {{ property.price|number_format }} /- </strong> <br>
                        <a href="" class="common-btn"> Enquiry </a>
                    </div><!-- -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div>
    </section> <!-- -->
    <section class="project-info">
        <div class="container">
            <div class="project-wrap">
                <ul>
                    <li>
                        <strong> Rs : {{ property.price|number_format }}/- </strong>
                        <span> Price</span>
                    </li>
                    <li>
                        <strong> 1, 2,3 BHK </strong>
                        <span> Apartment</span>
                    </li>
                    <li>
                        <strong> {{ property.createdOn|date('F Y') }} </strong>
                        <span> Post Date</span>
                    </li>
                    <li>
                        <strong> 5 Aana </strong>
                        <span> Area</span>
                    </li>
                </ul>
            </div> <!-- .project-wrap -->
        </div><!-- .container -->
    </section><!-- .project-info -->
    <section class="detail-tab-section">
        <div class="container">
            <div class="detail-tab">
                <ul>
                    <li>
                        <a href="#overview">  Overview </a>
                    </li>
                    <li>
                        <a href="#configuration">  Configuration </a>
                    </li>
                    <li>
                        <a href="#amenities">  Amenities </a>
                    </li>
                    <li>
                        <a href="#gallery">  Gallery </a>
                    </li>
                    <li>
                        <a href="#location">  Locality </a>
                    </li>
                    <li>
                        <a href="#bank">   BANK Offers </a>
                    </li>
                </ul>
            </div><!-- .detail-tab -->
        </div>
    </section>
    <section class="price-table">
        <div class="container">
        </div> <!-- .container -->
    </section>
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <section class="overview" id="overview">
                        <h2 class="section-title-border">   Overview </h2>
                        <div class="overview-detail">
                            <ul>
                                <li>
                                    <span>Propert ID</span>
                                    <strong>AD1348</strong>
                                </li>
                                <li>
                                    <span>Area Covered</span>
                                    <strong>5 Aana</strong>
                                </li>
                                <li>
                                    <span>Propert Face</span>
                                    <strong>South West</strong>
                                </li>
                                <li>
                                    <span>Road Access</span>
                                    <strong>15 Feet</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="inner-overview">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            </p>
                            <div class="more"><a href=""> Read More </a></div>
                        </div> <!-- .inner-overview -->
                    </section> <!-- .overview -->
                    <section class="configuration detail-list" id="configuration">

                        <h2 class="section-title-border">   Configuration </h2>
                        <ul>
                            <li>
                                <img src="images/house.png" alt=""><span> <strong>Floors </strong> : 3 </span>
                            </li>
                            <li>
                                <img src="images/bed.png" alt=""><span> <strong> Bedroom  </strong> : 3 </span>
                            </li>
                            <li>
                                <img src="images/bathroom.png" alt=""><span> <strong>Bathroom </strong> : 2 </span>
                            </li>
                            <li>
                                <img src="images/car.png" alt=""><span> <strong> Parking </strong>: 2 </span>
                            </li>
                        </ul>
                    </section>
                    <section class="amenities detail-list" id="amenities">

                        <h2 class="section-title-border">   Amenities </h2>
                        <ul>
                            <li>
                                <img src="images/road.png" alt=""><span> <strong>Internal Roads </strong> </span>
                            </li>
                            <li>
                                <img src="images/tree.png" alt=""><span> <strong> Garden  </strong> </span>
                            </li>
                            <li>
                                <img src="images/tab.png" alt=""><span> <strong>Water Supply </strong>  </span>
                            </li>
                            <li>
                                <img src="images/security.png" alt=""><span> <strong> 24 x 7 Security </strong> </span>
                            </li>
                            <li>
                                <img src="images/wifi.png" alt=""><span> <strong> Wifi </strong> </span>
                            </li>
                        </ul>
                    </section>
                    <section class="gallery" id="gallery">
                        <h2 class="section-title-border">   Gallery </h2>
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#elevation" aria-controls="elevation" role="tab" data-toggle="tab">Elevation</a></li>
                                <li role="presentation"><a href="#floor-plans" aria-controls="floor-plans" role="tab" data-toggle="tab">Floor Plans </a></li>
                                <li role="presentation"><a href="#neighbourhood" aria-controls="neighbourhood" role="tab" data-toggle="tab">Neighbourhood</a></li>

                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="elevation">

                                    <div class="popup-gallery">
                                        <a href="images/gallery1.jpg" title="">
                                            <img src="images/gallery1.jpg" ></a>
                                        <a href="images/gallery2.jpg" title="">
                                            <img src="images/gallery2.jpg" ></a>
                                        <a href="images/gallery3.jpg" title="">
                                            <img src="images/gallery3.jpg" ></a>
                                        <a href="images/gallery4.jpg" title="">
                                            <img src="images/gallery4.jpg" ></a>
                                        <a href="images/gallery5.jpg" title="">
                                            <img src="images/gallery5.jpg" ></a>
                                        <a href="images/gallery6.jpg" title="">
                                            <img src="images/gallery6.jpg" ></a>

                                    </div>

                                </div>
                                <div role="tabpanel" class="tab-pane" id="floor-plans">...</div>
                                <div role="tabpanel" class="tab-pane" id="neighbourhood">...</div>

                            </div>

                        </div>
                    </section>
                    <section class="location" id="location">
                        <h2 class="section-title-border">  Locality  </h2>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14131.99782958029!2d85.2686657697754!3d27.68641165!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1529759013623" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div><!-- .map -->
                    </section> <!-- location -->
                    <section class="bank" id="bank">
                        <h2 class="section-title-border">   Bank Offers  </h2>
                        <ul>
                            <li>
                                <img src="images/mega.jpg" alt="">
                            </li>
                            <li>
                                <img src="images/nabil.jpg" alt="">
                            </li>
                            <li>
                                <img src="images/global.jpg" alt="">
                            </li>
                        </ul>
                    </section>

                </div> <!-- .col -->
                <div class="col-md-4">
                    <div class="form-section-side">

                        <div class="form-heading">
                            <h3>
                                Enquiry
                            </h3>
                            <p>
                                I would like to know more about
                            </p>
                        </div>
                        <form>
                            <ul>
                                <li>
                                    <input type="text" name="name" placeholder="Name">
                                </li>
                                <li>
                                    <input type="tel" name="contact" placeholder="Contact No.">
                                </li>
                                <li>
                                    <input type="email" name="email" placeholder="Email ID">
                                </li>
                                <li>
                                    <textarea  placeholder="Messages">Messages</textarea>
                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <label>
                                            <input type="checkbox" name="checbox"> Allow other sellers to get in touch
                                            <span class="ti-check ico"></span>
                                        </label>
                                    </div>
                                    <div class="checkbox-wrap">
                                        <label>
                                            <input type="checkbox" name="checbox"> Allow other sellers to get in touch
                                            <span class="ti-check ico"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>

                                </li>
                            </ul>
                            <input type="submit" name="submit" value="Get Contact Details">
                        </form>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div>
    </div> <!-- .main-content -->
    <section class="similar-properties" id="similar-properties">
        <div class="container">
            <h2 class="section-title"> Similar Properties</h2>
            <div class="similar-properties-slider">
                <div class="similar-item">
                    <div class="similar-inner">
                        <img src="images/similar-product1.jpg" alt="">
                        <div class="similar-article">
                            <h3>
                                3 BHK House <br>
                                Newroad, Kathmandu
                            </h3>
                            <h2>
                                Rs. 15,00,000/-
                            </h2>

                        </div>
                    </div><!-- .similar-inner -->
                </div><!-- .similar-item -->
                <div class="similar-item">
                    <div class="similar-inner">
                        <img src="images/similar-product2.jpg" alt="">
                        <div class="similar-article">
                            <h3>
                                3 BHK House <br>
                                Newroad, Kathmandu
                            </h3>
                            <h2>
                                Rs. 15,00,000/-
                            </h2>

                        </div>
                    </div><!-- .similar-inner -->
                </div><!-- .similar-item -->
                <div class="similar-item">
                    <div class="similar-inner">
                        <img src="images/similar-product3.jpg" alt="">
                        <div class="similar-article">
                            <h3>
                                3 BHK House <br>
                                Newroad, Kathmandu
                            </h3>
                            <h2>
                                Rs. 15,00,000/-
                            </h2>

                        </div>
                    </div><!-- .similar-inner -->
                </div><!-- .similar-item -->
                <div class="similar-item">
                    <div class="similar-inner">
                        <img src="images/similar-product2.jpg" alt="">
                        <div class="similar-article">
                            <h3>
                                3 BHK House <br>
                                Newroad, Kathmandu
                            </h3>
                            <h2>
                                Rs. 15,00,000/-
                            </h2>

                        </div>
                    </div><!-- .similar-inner -->
                </div><!-- .similar-item -->
                <div class="similar-item">
                    <div class="similar-inner">
                        <img src="images/similar-product1.jpg" alt="">
                        <div class="similar-article">
                            <h3>
                                3 BHK House <br>
                                Newroad, Kathmandu
                            </h3>
                            <h2>
                                Rs. 15,00,000/-
                            </h2>

                        </div>
                    </div><!-- .similar-inner -->
                </div><!-- .similar-item -->
                <div class="similar-item">
                    <div class="similar-inner">
                        <img src="images/similar-product3.jpg" alt="">
                        <div class="similar-article">
                            <h3>
                                3 BHK House <br>
                                Newroad, Kathmandu
                            </h3>
                            <h2>
                                Rs. 15,00,000/-
                            </h2>

                        </div>
                    </div><!-- .similar-inner -->
                </div><!-- .similar-item -->
                <div class="similar-item">
                    <div class="similar-inner">
                        <img src="images/similar-product2.jpg" alt="">
                        <div class="similar-article">
                            <h3>
                                3 BHK House <br>
                                Newroad, Kathmandu
                            </h3>
                            <h2>
                                Rs. 15,00,000/-
                            </h2>

                        </div>
                    </div><!-- .similar-inner -->
                </div><!-- .similar-item -->
            </div><!-- .latest-news-slider -->
        </div>
    </section>
    <section class="line">
        <div class="green">
        </div>
        <div class="grey">
        </div>
        <div class="blue">
        </div>
    </section> <!-- line -->


