{% extends "Property247FrontendBundle::forntend_layout.html.twig" %}

{% block content %}

    <style>
        #map{
            height:400px;
        }
    </style>

    {% set pType = property.propertyType %}

    {% if(pType == 101) %}
        {{ include('@Property247Frontend/Detail/house-property-detail.html.twig') }}
    {% else %}
        {{ include('@Property247Frontend/Detail/land-property-detail.html.twig') }}
    {% endif %}

{% endblock %}


{% block scripts %}

    <script src="{{ asset('bundles/property247frontend/js/jquery.magnific-popup.min.js') }}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsCmwaCQcDoySbaNQ0kdBCmhhpLv8gqgw&callback=initMap"></script>
    <script>
        function initMap() {
            {% if property %}
            var position = {lat: {{ property.latitude }}, lng: {{ property.longitude }} };
            {% else %}
            var position = {lat: 27.687463, lng: 85.3084514};
            {% endif %}
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 18, center: position});
            var marker = new google.maps.Marker({position: position, map: map});
//            google.maps.event.addListener(map, 'click', function (e) {
//                marker.setPosition(e.latLng);
//                latitudeInput.val(e.latLng.lat);
//                longitudeInput.val(e.latLng.lng);
//            })
        }
    </script>
{% endblock %}


