{% extends '@Property247Admin/layout.html.twig' %}
{% import '@Property247Property/macros/macros.html.twig' as lib %}

{% block page_actions %}
    {% if isHouse is defined %}
        <li>
            <a href="{{ path('list_house_property') }}">
                List Housing
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('list_land_property') }}">
                List Land
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css">
    <style>
        .form-group .checkbox label {
            padding-left: 20px;
        }

        .checkbox label, .radio label {
            padding-left: 0;
        }

        .form-group {
            margin: 5px 5px;
        }
        .vich-image a img{
            width: 100%;
        }
        .property-detail-document-preview{
            width: auto;
            height: 300px;
            overflow: hidden;
        }
    </style>

    <div class="col-md-12">
        {% form_theme form '@Property247Admin/Form/admin_form_horizontal_layout.html.twig' %}
        {{ form_start(form, {'attr':{'id':'propertyAddForm'}}) }}

        {% set h = isHouse is defined and isHouse == true ? true : false %}
        {% if isUpdating is defined and isUpdating == false %}
            <div class="col-md-6">
                {{ lib.overviewPanel(form, h) }}
            </div>
            <div class="col-md-6">
                {{ lib.measurementsPanel(form,h) }}
            </div>
            <div class="col-md-12">
                {{ lib.locationPanel(form) }}
            </div>
        {% else %}
            {% set detailPage = true %}
            {{ lib.detailedPanelForm(form, h, detailPage) }}
        {% endif %}
        {% if isUpdating is defined and isUpdating == false %}
            <div class="clearfix"></div>
            <div class="col-md-12 pull-right">
                <input type="submit"
                       value="Add"
                       class="btn btn-primary pull-right">
            </div>
        {% endif %}
        <div class="col-md-12">
            {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/js/jquery.mask.min.js') }}"></script>
    <script src="{{ asset('bundles/property247admin/js/dropzone.js') }}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsCmwaCQcDoySbaNQ0kdBCmhhpLv8gqgw&callback=initMap"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"
            type="text/javascript"></script>
    <script>

        $('.total-area-mask').mask('00-00-00-00');

        $('.price-negotiable').on('change', function(e){
            e.preventDefault();
            if($(this).is(':checked')){
                $('.remarks-block').show();
            }   else    {
                $('.remarks-block').hide();
            }
        });

        $('.price-negotiable').trigger('change');

        var proId = null;
        var districtId = null;

        {% if isUpdating is defined and isUpdating == true and form.vars.data.city %}
        cityId = {{ form.vars.data.city.id }}
            districtId = {{ form.vars.data.city.district ? form.vars.data.city.district.id : 0 }}
                proId = {{ form.vars.data.city.province ? form.vars.data.city.province.id : 0 }}
                        {% endif %}

                    $('#select-province').on('change', function () {
                        {% if isUpdating == true %}
                        var childs = $(this).children();
                        $.each(childs, function (i, d) {
                            if ($(d).val() == proId) {
                                $(d).attr('selected', true);
                            }
                        });
                        {% endif %}
                        var pId = $(this).val();
                        var districts = $('.select-district-option');
                        $.each(districts, function (i, d) {
                            if ($(d).data('province-id') == pId || $(d).data('province-id') == proId) {
                                $(d).show();
                            } else {
                                $(d).attr('selected', false);
                                $(d).hide();
                            }
                        });
                        proId = null;
                        $('#select-district').trigger('change');
                    });

        $('#select-district').on('change', function () {
            {% if isUpdating == true %}
            var childs = $(this).children();
            $.each(childs, function (i, d) {
                if ($(d).val() == districtId) {
                    $(d).attr('selected', true);
                }
            });
            {% endif %}
            var dId = $(this).val();
            var cities = $('.select-city-option');
            $.each(cities, function (i, d) {
                if ($(d).data('district-id') == dId || $(d).data('district-id') == districtId) {
                    $(d).show();
                } else {
                    $(d).attr('selected', false);
                    $(d).hide();
                }
            });
            districtId = null;
        });

        $('#select-province').trigger('change');

        var floorPlanWrapperLength = $('.floor-planning').find('.floor-plan-amenity').length;
        var floorPlanCounter = floorPlanWrapperLength;
        $('.add-floor-planning').on('click', function (e) {
            e.preventDefault();
            var html = $('.floor-planning').data('prototype');
            html = html.replace(/__name__/g, floorPlanCounter);
            html = "<div class='floor-planning-wrapper'>" + html + "</div>"
            $('.floor-planning').append(html);
            $('.floor-planning').find('.floor-plan-amenity').attr('data-index', floorPlanCounter);
            floorPlanCounter++;
            deleteFloorPlan();
        });
        deleteFloorPlan();

        //        if (floorPlanWrapperLength == 0) $('.add-floor-planning').trigger('click');

        function deleteFloorPlan() {
            $('.delete-floor-btn').on('click', function (e) {
                e.preventDefault();
                $(e.target).closest('.floor-plan-amenity').remove();
            });
        }


        var floorPlanAmenityLength = $('.floor-amenity-wrapper').find('.floor-amenity').length;
        var floorPlanAmenityCounter = floorPlanAmenityLength;
        $('.floor-planning').on('click', '.add-amenity-btn', function (e) {
            e.preventDefault();
            var index = $(this).data('index');
            var floorPlanWrapper = $('.floor-amenity-wrapper');
            var html = floorPlanWrapper.eq(index).data('prototype');
            html = html.replace(/__name__/g, floorPlanAmenityCounter);
            $(e.target).parent().find('.floor-amenity-wrapper').append(html);
            floorPlanAmenityCounter++;
            deleteFloorPlanAmenity();
        });
        deleteFloorPlanAmenity();

        function deleteFloorPlanAmenity() {
            $('.floor-planning').on('click', '.delete-floor-plan-amenity', function (e) {
                e.preventDefault();
                $(e.target).closest('.floor-amenity').remove();
            });
        }

        var documentWrapper = $('#propertyDocuments');
        var documentCount = documentWrapper.find('.document').length;
        $('.add-property-document').on('click', function(e){
            e.preventDefault();
            var html = $('#propertyDocuments').data('prototype');
            html = html.replace(/__name__/g, documentCount);
            documentWrapper.append(html);
            documentCount++;
        });
//        if(documentCount == 0) $('.add-property-document').trigger('click');

        $('#propertyDocuments').on('click','.delete-document-btn', function (e) {
            e.preventDefault();
            $(e.target).closest('.document').remove();
        })

        var form = $('form#propertyAddForm');
        var counter = 0;
        var hiddenInput = "<input type='hidden' value='VALUE' name='imageIds[INDEX]'>";

        {% if isUpdating is defined and isUpdating == true %}
        var url = '{{ oneup_uploader_endpoint('property_images') }}?propertyId={{ form.vars.data.id }}';
        Dropzone.autoDiscover = false;
        $(function () {
            var myDropzone = new Dropzone('div#propertyImage', {
                url: url,
                acceptedFiles: 'image/*',
                success: function (file, response) {
                    var html = hiddenInput.replace(/VALUE/g, response.imageId);
                    html = html.replace(/INDEX/g, counter);
                    form.append(html);
                    counter++;
                    var url = "{{ path('admin_ajax_render_image_view',{id:'ID'}) }}";
                    url = url.replace(/ID/g, response.imageId);
                    $.ajax({
                        url: url,
                        success: function (data) {
                            if (data.success == true) {
                                $('#gallery-images').prepend(data.template);
                            }
                        }
                    });
                }
            });
            myDropzone.on('complete', function (file) {
                myDropzone.removeFile(file);
            });
        });
        {% endif %}

        {% if isUpdating is defined and isUpdating == true %}
        var propertyId = "{{ form.vars.data.id }}";
        var modal = $('#commonModal');
        $('#gallery-images').on('click', '.edit', function (e) {
            e.preventDefault();
            var id = $(this).data('image-id');
            var url = "{{ path('admin_ajax_update_image',{'imageId':'ID'}) }}";
            url = url.replace(/ID/g, id);
            $.ajax({
                url: url,
                success: function (data) {
                    if (data) {
                        modal.find('.modal-title').html('Update Image');
                        modal.find('.modal-body').html(data.template);
                        modal.modal('show');
                    }
                }
            });
        });

        modal.on('submit', 'form', function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            var id = $(this).data('id');
            var url = "{{ path('admin_ajax_update_image',{'imageId':'ID'}) }}";
            url = url.replace(/ID/g, id);
            $.ajax({
                url: url,
                method: 'POST',
                data: formData,
                success: function (data) {
                    if (data.success == true) {
                        renderAllImages(propertyId);
                        modal.modal('hide');
                    }
                }
            });
        });

        $('#gallery-images').on('click', '.delete', function (e) {
            e.preventDefault();
            var self = this;
            bootbox.confirm({
                size: 'small',
                message: 'Are you sure ?',
                callback: function (result) {
                    if (result) {
                        var imageId = $(self).data('image-id');
                        var url = "{{ path('admin_ajax_delete_property_image',{'propertyId':'PROPERTY_ID','imageId':'IMAGE_ID'}) }}";
                        url = url.replace(/IMAGE_ID/g, imageId);
                        url = url.replace(/PROPERTY_ID/g, propertyId);
                        $.ajax({
                            url: url,
                            success: function (data) {
                                if (data.success == true) {
                                    renderAllImages(propertyId);
                                }
                            }
                        });
                    } else {
                        return;
                    }
                }
            });
        });

        $('#gallery-images').on('click', '.set-featured-image', function (e) {
            var imageId = $(this).data('image-id');
            $('#gallery-images').find('.set-featured-image').attr('checked', false);
            var url = "{{ path('admin_ajax_set_property_featured_image',{'imageId':'IMAGE_ID', 'propertyId':'PROPERTY_ID'}) }}";
            url = url.replace(/IMAGE_ID/g, imageId);
            url = url.replace(/PROPERTY_ID/g, propertyId);
            $.ajax({
                url: url,
                success: function (data) {
                    if (data.success == true) {
                        renderAllImages(propertyId);
                    }
                }
            });
        });

        function renderAllImages(propertyId) {
            var url = "{{ path('admin_ajax_render_all_property_images',{'propertyId':'ID'}) }}";
            url = url.replace(/ID/g, propertyId);
            $.ajax({
                url: url,
                success: function (data) {
                    if (data.success == true) {
                        $('#gallery-images').html(data.template);
                    }
                }
            });
        }

        {% endif %}

        $('.select2').select2();
        $('.datetimepicker').datepicker({format: 'yyyy-mm-dd'});
        var latitudeInput = $('.latitude');
        var longitudeInput = $('.longitude');

        function initMap() {
            {% if isUpdating == true and form.vars.data.latitude and form.vars.data.longitude %}
            var position = {lat: {{ form.vars.data.latitude }}, lng: {{ form.vars.data.longitude }} };
            {% else %}
            var position = {lat: 27.687463, lng: 85.3084514};
            {% endif %}
            latitudeInput.val(position.lat);
            longitudeInput.val(position.lng);
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 15, center: position});
            var marker = new google.maps.Marker({position: position, map: map});
            google.maps.event.addListener(map, 'click', function (e) {
                marker.setPosition(e.latLng);
                latitudeInput.val(e.latLng.lat);
                longitudeInput.val(e.latLng.lng);
            })
        }

    </script>
{% endblock %}