{% extends '@Property247Admin/layout.html.twig' %}

{% block page_actions %}
    {% if isHouse is defined %}
        <li>
            <a href="{{ path('add_house_property') }}">
                <i class="fa fa-plus position-left"></i> Create Housing
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('add_land_property') }}">
                <i class="fa fa-plus position-left"></i> Create Land
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="col-lg-12">
        <div class="panel panel-lg">
            {% if properties | length %}
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <td>#</td>
                        <td width="10%">Property Id</td>
                        {#<td>Type</td>#}
                        {#<td>Purpose</td>#}
                        <td width="25%">location</td>
                        <td width="15%">Area</td>
                        {% if isHouse is defined %}
                            <td width="10%">Storyed</td>
                        {% else %}
                            <td width="10%">Mohoda</td>
                        {% endif %}
                        <td width="10%">Road Access</td>
                        {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
                            <td width="5%">Approved</td>
                        {% endif %}
                        <td>Actions</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in properties %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ p.propertyId }}</td>
                            {#<td>{{ p | propertyTypeName }}</td>#}
                            {#<td>{{ p.suitableFor | purposeTypeName}}</td>#}
                            <td>
                                <span>
                                    <strong>Location: </strong>
                                    {{ p.location }}
                                </span>
                                <br>
                                <span>
                                    <strong>City: </strong>
                                        {{ p.city ? p.city.name : '' }}
                                </span>
                            </td>
                            <td>
                                <span>
                                    <strong>Total: &nbsp; </strong>
                                    {{ p.totalArea }}
                                    {{ p.areaUnit | getTotalAreaUnit }}
                                    {#{{ p.totalAreaInSqFt }}#}
                                </span>
                                <br>
                                {% if isHouse is defined %}
                                    <span>
                                    <strong>Floor Coverage: </strong>
                                        {{ p.totalFloorCoverage ? p.totalFloorCoverage ~ '(Sq. ft.)' : '' }}
                                        {#{{ p.houseBuildAreaInSqFt }}#}
                                </span>
                                {% endif %}
                                <br>
                                <span>
                                    <strong>Ground Coverage: &nbsp; </strong>
                                    {{ p.houseBuildArea ? p.houseBuildArea ~ '(Sq. ft.)' : ''  }}
                                </span>
                            </td>
                            {% if isHouse is defined %}
                                <td>{{ p.storeyed }}</td>
                            {% else %}
                                <td>{{ p.frontFace }}&nbsp;{{ p.frontFaceUnit | getDistanceMeasureName }}</td>
                            {% endif %}
                            <td>{{ p.roadAccess }}</td>
                            {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
                                <td>
                                    {% set labelClass = p.approved ? 'success' : 'warning' %}
                                    <a
                                            href="#"
                                            data-approved="{{ p.approved }}"
                                            class="toogle-status label label-{{ labelClass }}"
                                            data-id="{{ p.id }}">
                                        {{ p.approved ? 'Yes' : 'No' }}
                                    </a>
                                </td>
                            {% endif %}
                            <td>
                                {% if isHouse is defined %}
                                    {% if 'ROLE_SUPER_ADMIN' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
                                        {% set path = 'update_house_property' %}
                                    {% elseif 'ROLE_AGENT' in app.user.roles or 'ROLE_AGENT_ADMIN' in app.user.roles %}
                                        {% set path = 'agent_update_house_property' %}
                                    {% endif %}
                                {% else %}
                                    {% if 'ROLE_SUPER_ADMIN' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
                                        {% set path =  'update_land_property' %}
                                    {% elseif 'ROLE_AGENT' in app.user.roles or 'ROLE_AGENT_ADMIN' in app.user.roles %}
                                        {% set path =  'agent_update_land_property' %}
                                    {% endif %}
                                {% endif %}

                                {% if 'ROLE_SUPER_ADMIN' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
                                    {% set deletePath =  'delete_property' %}
                                {% elseif 'ROLE_AGENT' in app.user.roles or 'ROLE_AGENT_ADMIN' in app.user.roles %}
                                    {% set deletePath =  'agent_delete_property' %}
                                {% endif %}

                                <a href="{{ path(path,{id:p.id}) }}" class="btn btn-primary">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="{{ path(deletePath,{id:p.id}) }}" class="btn btn-danger delete-item">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {{ no_contents() }}
            {% endif %}
        </div>
        {{ knp_pagination_render(properties) }}
    </div>

{% endblock %}

{% block scripts %}

    <script>
        $('.toogle-status').on('click', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var url = "{{ path('admin_ajax_toogle_property_status',{'id':'ID'}) }}";
            url = url.replace(/ID/g, id);
            var html = $(this).html().trim() == 'Yes' ? 'No' : 'Yes';
            var targetClass = $(this).hasClass('label-success') ? 'label-warning' : 'label label-success';
            targetClass = 'toogle-status label ' + targetClass;
            $(this).attr('disabled', true);
            $(this).html('<i class="fa fa-cog spin"></i>');
            var self = this;
            $.ajax({
                url: url,
                method: 'GET',
                success: function (data) {
                    if (data.success == true) {
                        $(self).attr('class', '');
                        $(self).attr('class', targetClass);
                        $(self).html(html);
                    }
                    $(this).attr('disabled', false);
                }
            });
        });
    </script>

{% endblock %}
