{% extends '@Property247Admin/layout.html.twig' %}


{% block page_actions %}
    {#{{ render_show_filter_button() }}#}
    <li>
        <a href="{{ url('admin_teacher_create') }}" class="">
            <i class="fa fa-plus position-left"></i>
            Add New Teacher
        </a>
    </li>
{% endblock %}

{% block filter %}
    <div class="form-group col-md-3">
        <label for="name" class="col-lg-3 control-label">Name</label>
        <div class="col-lg-9">
            <input type="text" class="form-control" name="name" value="{{ app.request.query.get('name') }}">
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-flat">
            {% if users|length %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-xs table-framed">
                        <tr>
                            <th>#</th>
                            <th>User Name</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Created By</th>
                            <th>Action</th>
                        </tr>
                        {% for user in users %}
                            <tr>
                                <td>
                                    {{ loop.index }}
                                </td>
                                <td>
                                    <a href="{{ path('update_user', {'id':user.id }) }}">{{ user.username }}</a>
                                    <br>
                                </td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.createdBy ? user.createdBy.username : 'N/A' }}</td>
                                <td>
                                    <a href="{{ path('admin_student_update',{'id':user.id}) }}"
                                       title="Edit">
                                        <i class="fa fa-pencil"></i>
                                    </a>

                                    <a href="{{ path('admin_student_delete',{'id':user.id}) }}"
                                       title="Delete"
                                       class="delete-item">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    {% if app.user.hasRole('AGENT_SUPER_ADMIN') or user.hasRole('AGENT_SUPER_ADMIN') != true %}&nbsp;
                                        <a href="{{ url('user_change_password', {'id':user.id}) }}"
                                           title="Change Password">
                                            <i class="fa fa-wrench"></i>
                                        </a>&nbsp;
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                {{ no_contents('No users to list.')|raw }}
            {% endif %}

            <div class="clearfix"></div>

        </div>

        <div class="text-right">
            {{ knp_pagination_render(users) }}
        </div>

    </div>

    <div class="clearfix"></div>
{% endblock %}
