{% extends '@Property247Admin/layout.html.twig' %}
{% block page_actions %}
<li>
    <a href="{{ url('admin_student_list') }}" class="">
        <i class="fa fa-plus position-left"></i>
        List Students
    </a>
</li>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ asset('bundles/property247admin/css/select2.min.css') }}">
{{ form_start(form) }}
{% if (isUpdating == true) %}
<div class="col-lg-6">
{% else %}
<div class="col-lg-6">
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Personal Information</h4>
        </div>
        <div class="panel-body">
            {{ form_row(form.name) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.mobile) }}
            {{ form_row(form.address) }}
            {{ form_row(form.email) }}
            {{ form_row(form.roll) }}
            {{ form_row(form.semester) }}
        </div>
    </div>
</div>

<div class="col-lg-6">
    {% if(isUpdating == false) %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Login Information</h4>
            </div>
            <div class="panel-body">

                {{ form_row(form.username) }}
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}

            </div>
        </div>
    {% endif %}
</div>

<div class="col-lg-6">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="submit" class="btn btn-success btn-sm">
                    <i class="fa fa-save"></i>&nbsp;SAVE
                </button>
                <a href="{{ url('list_users') }}" class="btn btn-sm btn-danger">
                    <i class="fa fa-times"></i>&nbsp;CANCEL
                </a>
                <br/><br/>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}
{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/property247admin/js/select2.min.js') }}"></script>
    <script>
        $('.select2').select2();
    </script>
{% endblock %}