{% extends '@Property247Admin/layout.html.twig' %}

{% block page_actions %}
    <li>
        <a href="{{ url('admin_user_group_list') }}" class="">
            <i class="fa fa-plus position-left"></i>
            List Groups
        </a>
    </li>
{% endblock %}

{% block content %}

    <style>
        .form-horizontal label:after{
            content: '';
        }
    </style>

    <div class="col-md-12">

        <!-- Basic layout-->

        {{ form_start(form) }}
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">User Group<a class="heading-elements-toggle"><i class="icon-more"></i></a>
                </h5>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="col-md-2">
                                    {{ form_label(form.name) }}
                                </div>
                                <div class="col-md-10">
                                    {{ form_widget(form.name) }}
                                    {{ form_errors(form.name) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-2">
                                    {{ form_label(form.isDefaultAgentGroup) }}
                                </div>
                                <div class="col-md-10">
                                    {{ form_widget(form.isDefaultAgentGroup) }}
                                    {{ form_errors(form.isDefaultAgentGroup) }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label text-bold">Permissions
                        <cite class="text-muted">(Check on permissions listed below)</cite>
                    </label>
                    <div class="col-md-12">
                        <div id="yarsha-permissions"></div>
                    </div>
                </div>

                <div class="text-right">

                    <input type="submit" class="btn btn-success btn-sm" value="{{ isUpdate?'Update':'Create' }}">

                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <!-- /basic layout -->
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
    <script>
        $(document).ready(function () {
            var options = {
                data: '{{ permissions|json_encode|raw }}'
            };
            $('#yarsha-permissions').permissionList(options);
        });
    </script>
{% endblock %}
