{% extends '@Property247Admin/layout.html.twig' %}

{% block page_actions %}
    {#{{ render_show_filter_button() }}#}
    <li>
        <a href="{{ url('admin_user_group_add') }}" class="">
            <i class="fa fa-plus position-left"></i>
            Add User Group
        </a>
    </li>
{% endblock %}

{% block filter %}
    <div class="form-group col-md-3">
        <label for="name" class="col-lg-3 control-label">Name</label>
        <div class="col-lg-9">
            <input type="text" class="form-control" name="name" value="{{ app.request.query.get('name') }}">
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-flat">
            {% if groups|length %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-xs table-framed">
                        <tr>
                            <th>SN</th>
                            <th>Name</th>
                            <th>Default agent group</th>
                            <th>Action</th>
                        </tr>
                        {% for group in groups %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    <a href="{{ path('admin_user_group_update', {'id':group.id}) }}">{{ group.name }}</a>
                                </td>
                                <td>
                                    <input type="checkbox"
                                           class="agent-default-group-checkbox"
                                           name="default_agent_group"
                                           data-group-id="{{ group.id }}"
                                           data-default-agent-group="{{ group.isDefaultAgentGroup ? '1' : '0'}}"
                                            {{ group.isDefaultAgentGroup ? 'checked' : ''}} >
                                </td>
                                <td><a href="{{ path('admin_user_group_update', {'id':group.id}) }}"
                                       class="btn btn-sm btn-primary"><i class="icon-pencil"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                {{ no_contents('No users to list.')|raw }}
            {% endif %}

            <div class="clearfix"></div>

            <div class="text-right">
                {#{{ knp_pagination_render(users) }}#}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}

{% block scripts %}

    <script>
        $('.agent-default-group-checkbox').on('click', function(e){
            e.preventDefault();
//            $('.agent-default-group-checkbox').removeAttr('checked');
            var groupId = $(this).data('group-id');
            var c = confirm('Are you sure ?');
//            var target = e.target;
            if(c){
                var path = "{{ path('ajax_set_default_agent_user_group',{'id':'GROUP_ID'}) }}";
                path = path.replace(/GROUP_ID/g,groupId);
                $.ajax({
                    url:path,
                    method:'GET',
                    success: function(data){
                        window.location.href = '';
//                        console.log('target', target);
//                        $(target).attr('checked', true)
                    },
                    error: function(data){
                        alert('Something went wrong.');
                    }
                });
            }

        });
    </script>

{% endblock %}
