{% set route =  app.request.attributes.get('_route') %}

{% if 'ROLE_STUDENT' in app.user.roles %}
    {% set role = 'student' %}
{% endif %}

<div class="sidebar sidebar-light sidebar-main">
    <div class="sidebar-content">

        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">

            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    <!-- Main -->
                    <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                    <li>
                        <a href="/{{ role }}"><i class="icon-home4"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="{% if route == 'admin_subject_list' or route == 'admin_subject_list' %} active {% endif %}">
                        <a href="#" class="has-ul"><i class="icon-book"></i> <span>Subjects</span></a>
                        <ul>
                            <li class="{% if route == 'admin_subject_add' %} active {% endif %}">
                                <a href="{{ path('admin_subject_add') }}">Add</a>
                            </li>
                            <li class="{% if route == 'admin_subject_list' %} active {% endif %}">
                                <a href="{{ path('admin_subject_list') }}">List</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{% if route == 'admin_notice_add' or route == 'admin_notice_list' %} active {% endif %}">
                        <a href="#" class="has-ul"><i class="icon-notification2"></i> <span>Notices</span></a>
                        <ul>
                            <li class="{% if route == 'admin_notice_add' %} active {% endif %}">
                                <a href="{{ path('admin_notice_add') }}">Add</a>
                            </li>
                            <li class="{% if route == 'admin_notice_list' %} active {% endif %}">
                                <a href="{{ path('admin_notice_list') }}">List</a>
                            </li>
                        </ul>
                    </li>
                    {#
                                        {% if has_access('add_amenity') or has_access('list_amenity') %}
                                            <li class="{% if route == 'admin_list_amenity' or route == 'admin_amenity_add' %} active {% endif %}">
                                                <a href="#" class="has-ul"><i class="icon-cube4"></i> <span>Amenity</span></a>
                                                <ul>
                                                    {% if has_access('add_amenity') %}
                                                        <li class="{% if route == 'admin_amenity_add' %} active {% endif %}">
                                                            <a href="{{ path('admin_amenity_add') }}">Add</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if has_access('list_amenity') %}
                                                        <li class="{% if route == 'admin_list_amenity' %} active {% endif %}">
                                                            <a href="{{ path('admin_list_amenity') }}">List</a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </li>
                                        {% endif %}

                                        {% if has_access('list_document') %}
                                            <li class="{% if route == 'admin_list_document' or route == 'admin_add_document' %} active {% endif %}">
                                                <a href="#" class="has-ul"><i class="fa fa-files-o"></i> <span>Document</span></a>
                                                <ul>
                                                    {% if has_access('list_document') %}
                                                        <li class="{% if route == 'admin_list_document' %} active {% endif %}">
                                                            <a href="{{ path('admin_list_document') }}">List</a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </li>
                                        {% endif %}

                                        {% if has_access('add_land') or has_access('list_land') %}
                                            {% if 'ROLE_SUPER_ADMIN' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
                                                {% set landAddRoute = 'add_land_property' %}
                                            {% elseif 'ROLE_AGENT' in app.user.roles or 'ROLE_AGENT_ADMIN' in app.user.roles %}
                                                {% set landAddRoute = 'agent_add_land_property' %}
                                            {% endif %}

                                            {% if 'ROLE_SUPER_ADMIN' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
                                                {% set landListRoute = 'list_land_property' %}
                                            {% elseif 'ROLE_AGENT' in app.user.roles or 'ROLE_AGENT_ADMIN' in app.user.roles %}
                                                {% set landListRoute = 'agent_list_land_property' %}
                                            {% endif %}

                                            <li class="{% if route == 'add_land_property' or route == 'list_land_property' or route == 'agent_add_land_property' %} active {% endif %}">
                                                <a href="#" class="has-ul"><i class="icon-cube4"></i> <span>Land</span></a>
                                                <ul>
                                                    {% if has_access('add_land') %}
                                                        <li class="{% if route == 'add_land_property' or route == 'agent_add_land_property' %} active {% endif %}">
                                                            <a href="{{ path(landAddRoute) }}">Add</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if has_access('list_land') %}
                                                        <li class="{% if route == 'list_land_property' or route == 'agent_list_land_property' %} active {% endif %}">
                                                            <a href="{{ path(landListRoute) }}">List</a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </li>
                                        {% endif %}

                                        {% if has_access('add_house') or has_access('list_house') %}
                                            <li class="{% if route == 'add_house_property' or route == 'list_house_property' %} active {% endif %}">
                                                <a href="#" class="has-ul"><i class="icon-home9"></i> <span>Housing</span></a>
                                                <ul>
                                                    {% if has_access('add_house') %}
                                                        <li class="{% if route == 'add_house_property' %} active {% endif %}">
                                                            <a href="{{ path('add_house_property') }}">Add</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if has_access('list_house') %}
                                                        <li class="{% if route == 'list_house_property' %} active {% endif %}">
                                                            <a href="{{ path('list_house_property') }}">List</a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </li>
                                        {% endif %}

                                        <li class="{% if route == 'yarsha_province_list' or route == 'yarsha_district_list' %} active {% endif %}">
                                            <a href="#" class="has-ul"><i class="icon-map5"></i> <span>Locality</span></a>
                                            <ul>
                                                <li class="{% if route == 'yarsha_province_list' %} active {% endif %}">
                                                    <a href="{{ path('yarsha_province_list') }}">Province List</a>
                                                </li>
                                                <li class="{% if route == 'yarsha_district_list' %} active {% endif %}">
                                                    <a href="{{ path('yarsha_district_list') }}">District List</a>
                                                </li>
                                            </ul>
                                        </li>#}
                    {#
                                        <li class="{% if route == 'yarsha_admin_city_list' or route == 'yarsha_admin_city_add' %} active {% endif %}">
                                            <a href="#" class="has-ul"><i class="icon-map5"></i> <span>City</span></a>
                                            <ul>
                                                <li class="{% if route == 'yarsha_admin_city_add' %} active {% endif %}">
                                                    <a href="{{ path('yarsha_admin_city_add') }}">Add</a>
                                                </li>
                                                <li class="{% if route == 'yarsha_admin_city_list' %} active {% endif %}">
                                                    <a href="{{ path('yarsha_admin_city_list') }}">List</a>
                                                </li>
                                            </ul>
                                        </li>#}

                    <!-- Application -->
                    <li class="navigation-header"><span>Application</span> <i class="icon-menu" title="Main pages"></i>
                    </li>

                    {% if has_access('add_user') or has_access('list_users') %}
                        <li class="{% if route == 'list_users' or route == 'add_user' %} active {% endif %}">
                            <a href="#" class="has-ul"><i class="icon-user"></i> <span>User</span></a>
                            <ul>
                                {% if has_access('add_user') %}
                                    <li class="{% if                                             route == 'add_user' %} active {% endif %}">
                                        <a href="{{ path('add_user') }}">Add</a>
                                    </li>
                                {% endif %}
                                {% if has_access('list_users') %}
                                    <li class="{% if route == 'list_users' %} active {% endif %}">
                                        <a href="{{ path('list_users') }}">List</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}

                    <li class="{% if route == 'admin_student_create' or route == 'admin_student_list' %} active {% endif %}">
                        <a href="#" class="has-ul"><i class="icon-user"></i> <span>Student</span></a>
                        <ul>
                            <li class="{% if route == 'admin_student_create' %} active {% endif %}">
                                <a href="{{ path('admin_student_create') }}">Add</a>
                            </li>
                            <li class="{% if route == 'admin_student_list' %} active {% endif %}">
                                <a href="{{ path('admin_student_list') }}">List</a>
                            </li>
                        </ul>
                    </li>



                    {#<li class="nav-item nav-item-submenu">#}
                    {#<a href="#" class="nav-link"><i class="icon-map5"></i> <span>Locality</span></a>#}
                    {#<ul class="nav nav-group-sub" data-submenu-title="Locality">#}
                    {#<li class="nav-item nav-item-submenu">#}
                    {#<a href="#" class="nav-link"><i class="icon-map4"></i> Province</a>#}
                    {#<ul class="nav nav-group-sub">#}
                    {#<li class="nav-item">#}
                    {#<a href="#" class="nav-link"><i class="icon-android"></i> Third level</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                    {#<a href="#" class="nav-link"><i class="icon-windows"></i> Third level</a>#}
                    {#</li>#}
                    {#</ul>#}
                    {#</li>#}
                    {#<li class="nav-item nav-item-submenu">#}
                    {#<a href="#" class="nav-link"><i class="icon-map"></i> Second level with child</a>#}
                    {#<ul class="nav nav-group-sub">#}
                    {#<li class="nav-item">#}
                    {#<a href="#" class="nav-link"><i class="icon-android"></i> Third level</a>#}
                    {#</li>#}
                    {#<li class="nav-item">#}
                    {#<a href="#" class="nav-link"><i class="icon-windows"></i> Third level</a>#}
                    {#</li>#}
                    {#</ul>#}
                    {#</li>#}
                    {#</ul>#}
                    {#</li>#}

                </ul>

            </div>
        </div>
        <!-- /main navigation -->

    </div>
</div>
