
body{
	margin-top: 70px;
	font-weight: 400;
	font-family: $font__primary;
	font-size: 14px;
	overflow-x: hidden;
}
iframe,
img{
	max-width: 100%;
}
ul{
	margin-left: 0;
	padding-left: 0;
}
a{
	@include vendor-prefix('transition','all linear 0.3s');
	&:hover,
	&:focus{
		text-decoration: none;
	}
	&:hover{
		color: $primary-color;
	}
}
.line{
	li{
		list-style: none;
	}
}
.section-title{
	text-align: center;
	margin-bottom: 50px;
	@include breakpoint(small){
		margin-bottom: 40px;
		font-size: 24px;
	}
}

.section-title-border{
	border-bottom: 1px solid #ccc;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 15px;
	position: relative;
	margin-bottom: 30px;
	
	&:after{
		display: block;
		content: '';
		clear: both;
		width: 114px;
		height: 3px;
		background: #0baa6e;
		bottom: 0;
		position: absolute;
	}
}
.common-btn{
	background: #f44336;
	border: none;
	color: $white-color;
	box-shadow: none;
	-webkit-box-shadow: none;
	padding: 5px 10px;
	
}
.common-btn:hover,
.common-btn:focus{
	background: $secondary-color;
	color: $white-color;
}
.overlay-shadow{
	bottom: 0;
	display: block;
	content: '';
	background: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.subscribe-us,
.testimonials{
	.container{
		position: relative;
		z-index: 1;
	}
}

.trusted,
.latest-news,
.similar-properties,
.top-rated-properties,
.block,
.feature-property-wrapper,
.view-properties{
	padding: 60px 0;
	@include breakpoint(extrasmall){
		padding: 40px 0;
	}
}

@indlude breakpoint(small){
	.similar-properties{

		padding-top: 20px !important;
	}
}
@include breakpoint(small){
	.testimonials h2{
		margin-top: 0;
	}
	
}
.latest-news-slider,
.similar-slider,
.trusted-slider,
.similar-properties-slider{
	.slick-arrow{
		background: $white-color;
		width: 30px;
		height: 30px;
		line-height: 33px;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		box-shadow: 0 0 1px 1px #efefef;
		-webkit-box-shadow: 0 0 1px 1px #efefef;
		text-align: center;
		vertical-align: center;
		cursor: pointer;
		z-index: 1;
		@include center($horizontal: false, $vertical: true);
		&.slick-prev{
			left: -15px;
			@include breakpoint(small){
				left: -5px;
			} 
		}
		&.slick-next{
			right: -15px;
			@include breakpoint(small){
				right: -5px;
			} 
		}
	}
}
.slick-dots{
	position: absolute;
	@include center($horizontal: true, $vertical: false);
	bottom: 10px;
	z-index: 1;
	li{
		list-style: none;
		display: inline-block;

		&.slick-active{
			button{
				background: $white-color !important;
			}
		}
		button{
			font-size: 0;
			width: 10px;
			height: 10px;
			border: 1px solid $white-color;
		
			border-radius: 50%;
			-webkit-border-radius: 50%;
			background: transparent;
			padding:0 ;
			margin: 0 5px;
			&:hover,
			&:focus{
				background: $white-color;
			}
		}
		
	}
}

.detail-list li{
	
		padding-bottom:40px;
	
}

.amenities{
	padding-bottom: 10px;
}