.site-footer{
	background: #333;
	color: $white-color;
	a{
		color: $white-color;

		&:hover{
			color:$main-color;
		}
	
	}
	ul{
		margin-left: 0;
		padding-left: 0;
	}
	h3{
		font-size: 22px;
		margin-bottom: 30px;
		margin-top: 50px;
	}
	li{
		list-style: none;
		margin-bottom: 4px;
	}
	.top-footer{
		padding: 30px 0;
		p{
		font-weight: 300;
		}
		h3{
			&:after{
				display: block;
				content: '';
				clear: both;
				width: 80px;
				height: 3px;
				background: $secondary-color;
				margin-top: 10px;
			}
		}
		.col-md-4{
			h3{
				/*&:first-letter{
				color: $main-color;
			}*/
				&:after{
					background-color: $main-color;
				}
			}
		}
	}

	.bottom-footer{
		background: rgba(255, 255, 255, 0.02);
		padding: 20px 0;
		li{
			padding: 0 15px;
		}
		.foot-blk{
			@include flex();
			align-items: center;
			margin-top: 5px;
			@include breakpoint(small){
					margin-bottom: 20px;
			}
			.detail{
				p{
					margin-bottom: 0;
				}
			}
		}

		.icon{
			border: 1px solid $white-color;
			border-radius: 50%;
			-webkit-border-radius: 50%;
			height: 50px;
			line-height: 50px;
			text-align: center;
			vertical-align: middle;
			width: 50px;
			margin-right: 15px;
			font-size: 20px;
		}
		.small{
			display: block;
		}
		.follow-us{
			@include breakpoint(small){
					margin-top: 40px;
			}
			h3{
				margin-top: 0;
			}
			ul{
				margin-left: 0;
				padding-left: 0;
				margin-bottom: 0;
			}
			li{
				display: inline-block;
				padding: 0 10px 0 0;
				a{
					font-size: 18px;
				}
			}
		}
	}
	.copy-right{
		text-align: center;
		padding: 30px 0;
		p{
			margin-bottom: 0;
			font-size: 12px;
		}
	}
	

}