
.site-header{
	-webkit-box-shadow: 0 0 3px 3px #A6A6A6;
	box-shadow: 0 0 3px 3px #A6A6A6;
	padding:  10px 10px 10px 20px;
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 11;
	top: 0;
	@include breakpoint(medium){
		padding-left: 0;
	}
	.logo{
		@include breakpoint(medium){
			text-align: center;
		}
	}
	.top-links{
		float: right;
		margin-right: 50px;
		@include breakpoint(medium){
			float: left;
			margin-right: 0;
		}
	
		ul{
			margin-bottom: 0;
			margin-top: 18px;
			@include flex();
			align-content: center;
		}
		li{
			display: inline-block;
			padding: 0 15px;
			@include breakpoint(wide){
				padding: 0 7px;
			}
			img{
				padding-right: 5px;
				margin-top: -4px;
				@include breakpoint(small){
					margin-top: 0;
				}
			}
			a{
				color: #333;
				text-transform: uppercase;
				@include flex();
				align-items: center;
				@include breakpoint(smaller){
					font-size: 0;
				}

				&:hover{
					color: $primary-color;
				}

			}
		}
	}
}
#overlay{
	#nav-icon{
		float: right;
		right: 30px;
		z-index: 10;
		top: 29px;
		position: absolute;
		cursor: pointer;
		height: 20px;
		@include breakpoint(wide){
			right: 15px;
			    top: 30px;
		}
		@include breakpoint(medium){
			top: 16px;
		}
		&.menu-opened{
			span{
				background-color: $white-color;
				@include vendor-prefix('transform', 'rotate(45deg)');
				margin-top: 5px;
				&:nth-child(2){
					@include vendor-prefix('transform', 'rotate(-45deg)');
					margin-top: -7px;
				}
				&:last-child{
					display: none;
				}
			}
		}
		span{
			background-color: #1a7ec5;
			height: 2px;
			display: block;
			margin-bottom: 4px;
			width: 23px;
			@include vendor-prefix('transition', 'all 0.3s ease-in-out');
			&:last-child{
				width: 15px;
			}
		}
	}

	.main-navigation{
		display: none;
		&.menu-open{
			background-color:$secondary-color;
			display: block;
			height: 100vh;
			position: fixed;
			display: flex;
			align-items: center;
			top: 0;
			left: auto;
			right: 0;
			z-index: 9;
			margin-top: 0;
			width: 300px;


			.primary-menu{
				display: block;
				li{
					display: block;
					float: none;
					margin: 20px 40px;
					a{
						color: $white-color;
						text-transform: uppercase;
						&:hover{
							color: $primary-color;
						}
					}
				}
			}
		}
	}
}

