*{
	outline: none;
}

.banner{
	position: relative;
	.slick-arrow{
		position: absolute;
		top: calc(50% - 28px);
		z-index: 1;
		padding: 10px;
		cursor: pointer;
		color: $white-color;
		height: 55px;
		line-height: 40px;
		background: $secondary-color;

		&.slick-next{
			
			right: 0;
		}
		&.slick-prev{
			
			left: 0;
		}
		
	}
	img{
		width: 100%;
		@include breakpoint(small){
			max-width: 800px;
			width: 800px;
		}
	}
}
.slick-slider .slick-slide{
    display: none;
}
 .slick-slider .slick-slide:first-child{
    display: block;
}
.slick-initialized.slick-slider .slick-slide,
.slick-initialized.slick-slider .slick-slide:first-child{
    display: block;
}


.breadcumb{
	padding: 20px 0;
	a{
		color: #424242;
		font-size: 12px;
	}
}
.caption-blk{
	@include center();
	color: $primary-color;
	min-width: 700px;
	@include breakpoint(medium){
		max-width: 100%;
		min-width: auto;
		width: 100%;
		text-align: center;
	}
	@include breakpoint(small){

		position: static;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		background: #dfe5e8;
		padding: 10px 20px;
	}
	h3{
		font-weight: 300;
		font-size: 36px;
		margin-bottom: 0;
		@include breakpoint(small){
			font-size: 25px;
		}
	}
	h2{
		margin-top: 0;
		font-size: 36px;
		font-weight: 500;
		margin-bottom: 40px;
		@include breakpoint(small){
			font-size: 25px;
		}
		@include breakpoint(smaller){
			margin-bottom: 20px;
		}
	}
}
.bank{
	padding-top: 40px;
	li{
		list-style: none;
		display: inline-block;
		padding-right: 60px;
		display: flex;
		align-items: center;
	}
	ul{
		display: flex;
		align-items: center;
		@include breakpoint(small){
			display: block;
			text-align: center;
		}
	}
}
.search-section{
	background: $white-color;
	-webkit-box-shadow: 0 0 3px 3px #c1c1c1;
	box-shadow: 0 0 3px 3px #c1c1c1;
	position: absolute;
	@include center($horizontal: true, $vertical: false);
	@include flex();
	flex-wrap: nowrap;
	text-align: center;
	text-transform: capitalize;
	@include breakpoint(small){
		position: static;
		@include vendor-prefix('transform','none');
		background: #dfe5e8;
		margin-top: -20px;
		padding: 20px;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	@include breakpoint(smaller){
		display: block;
		background: none;
		-webkit-box-shadow: none;
		box-shadow:  none;
	}
	.location{
		background: url(../images/arrow.png) no-repeat right 9px center $white-color;
		width: 120px;
		@include flex();
		align-items: center;
		border-right: 1px solid #d3d3d3;
		padding: 10px;
		color: #acacac;
		cursor: pointer;
		@include breakpoint(small){
			width: 106px;
		}
		@include breakpoint(smaller){
			width: 100%;
			margin-bottom: 10px;
		}
		i{
			font-size: 20px;
		}
		a{
			color:#818181;
			font-size: 18px;
		}
		img{
			margin-right: 10px;
		}
		
	}
	.search-bx{
		width: 450px;

		@include breakpoint(smaller){
			max-width: 100%;
		}
		input{
			padding: 16px 10px;
		}

	}
	.search-btn{
		background: #f44336;
		border: none;
		color: $white-color;
		box-shadow: none;
		-webkit-box-shadow: none;
		width: 100px;
		
		padding: 10px;
		@include breakpoint(smaller){
			margin-top: 10px;
		}
	}
}

.site-header,
.tp-search-section{
	.col-md-9{
		position: static;
		@include breakpoint(medium){
			position: relative;
		}
	}
	.search-section{
		box-shadow: none;
		-webkit-box-shadow: none;
		border: 1px solid #e6e6e6;
		transform: none;
		-webkit-transform: none;
		left: 0;
		right: auto;
		
		@media (min-width: 1200px){
			right: 700px;
			left: auto;
    		top: 20px;
    		/*display: none;*/

		}
		@include breakpoint(wide){
			display: none;
		}
		.location{
			width: 100px;
			padding: 3px;
			opacity: 0.7;
			@include breakpoint(wide){
				width: 85px;
			}
			a{
				font-size: 14px;
			}
		}
		.search-bx{
			width: 270px;
			@media (max-width: 1300px){
				width: 170px;
			}

		}
		 .search-btn{
		 	width: 32px;
		 	padding: 0;
		 	margin-top: 0;
		 }
		 input {
		 	padding: 8px 10px;
		 	border: none;
		 }
	}
}
.tp-search-section{
	display: none;
	@include breakpoint(wide){
		display: flex;
		padding-top: 20px;
		justify-content: center;
	}
	@include breakpoint(medium){
		padding-top: 60px;
	}
	.search-section{
		position: relative;
		display: flex;
		border: 1px solid #d3d3d3;
		margin: 20px 0;
		width: 289px;
		background: none;
         padding: 0;

	}
	.location{
		margin-bottom: 0;
	}
}
/*Top Rated Properties*/
.top-rated-properties{
	background: #f9f9f9;
	padding-bottom: 45px;
	h2{
		margin-top: 0;
	}
	
	.top-properties-bx{
		position: relative;
		margin-bottom: 25px;
		overflow: hidden;

		a{
			color: $white-color;
		}
		img{
			width: 100%;
		}
	}
	.properties-bx-detail{
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		z-index: 1;
		bottom: 0;
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 12%, rgba(0,0,0,0.54) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 12%,rgba(0,0,0,0.54) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 12%,rgba(0,0,0,0.54) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#8a000000',GradientType=0 );
		@include flex();
		@include vendor-prefix('transition','all 0.4s linear');
		align-items: flex-end;
		padding: 10px ;
		height: 100px;
		p{
			width: 100%;
			transform: translate(-110%, 0);
			-webkit-transform: translate(-110%, 0);
			-moz-transform: translate(-110%, 0);
			-ms-transform: translate(-110%, 0);
			@include vendor-prefix('transition','all 0.4s linear');
			margin-bottom: 0;
		}
		span{
			color: $white-color;
			display: block;
			width: 100%;
			font-size: 17px;
			font-weight: 800;
		}	
		
	}
	img{
		@include vendor-prefix('transition','all 0.4s linear');
	}
	.top-properties-bx{
		&:hover{
			.properties-bx-detail{
				height: 100%;
				p{
					transform: translate(0, 0);
				}
				
			}
			img{
				-moz-transform: scale(1.3);
				-webkit-transform: scale(1.3);
				-o-transform: scale(1.3);
				-ms-transform: scale(1.3);
				transform: scale(1.3);
			}
		}
	}
	.col-md-3{
		.top-properties-bx{
			width: 500px;
			max-width: 100%;
			margin: 0 auto 30px;
			@include breakpoint(small){
				width: 100%;
			}
		}
	}
}
/*View Properties*/
.view-properties{
	padding: 10px;
	.view-properties-wrap{
		position: relative;
		margin-bottom: 30px;
		color: $white-color;
		overflow: hidden;
		cursor: pointer;
		img.visible-xs{
			@include breakpoint(small){
				height: 500px;
				width: auto;
				max-width: inherit;
			}

		}
	}
	
	.col-md-4:nth-child(3){
		clear: left;
		@include breakpoint(medium){
			clear: none;
		}
	}
	.overlap-view{
		position: absolute;
		z-index: 1;
		left: 0;
		bottom: 0;
		right: 0;
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
		padding: 20px;
		height: 100%;
		height: 100px;
		cursor: pointer;
		
		@include vendor-prefix('transition','all 0.8s ease');
		h3{
			font-size: 20px;
			text-transform: uppercase;

		}

		ul{
			margin-left: 0;
			padding-left: 0;
			li{
				list-style: none;
			}
		}
	}
	.view-properties-wrap{
		text-align: center;
		.hide-view{
			opacity: 0;
		}
		.property-bx{
			border: 1px solid #fff;
			margin: 15px 0;
			padding: 10px;
			a{
				display: inline-block;
			}
		}
		img{
			@include vendor-prefix('transition','all 0.8s ease');
			width: 100%;
		}
		&:hover{
			img{
				-moz-transform: scale(1.3);
				-webkit-transform: scale(1.3);
				-o-transform: scale(1.3);
				-ms-transform: scale(1.3);
				transform: scale(1.3);
			}
			.overlap-view{
				height: calc(100%);
				background: rgba(0, 0, 0, 0.4);
			}
			.hide-view{
				opacity: 1;

			}
			
		}
	}
}
/*feature properties*/
.properties-bx-wrap{
	border: 1px solid #ddd;
}
/*feature properties wrap end*/
.block{
	ul{
		@include flex();
		flex-wrap: nowrap;
		margin-left: 0;
		padding-left: 0;
		@include breakpoint(medium){
			flex-wrap: wrap;
		}
		li{
			background: $white-color;
			list-style: none;
			width: calc(16.77% - 10px);
			margin: 10px;
			text-transform: uppercase;
			text-align: center;
			@include flex();
			align-items: stretch;
			transition: 0.4s all linear;
			-webkit-transition: 0.4s all linear;
			-ms-transition: 0.4s all linear;
			-moz-transition: 0.4s all linear;
			@include breakpoint(medium){
				width: calc(33% - 20px);
			}

			@include breakpoint(extrasmall){
				width: 100%;
			}

			img{
				
				@include vendor-prefix('transition','0.3s all linear');
			}
			&:hover{
				@include vendor-prefix('transform','scale(1.09)');
				img{
					@include vendor-prefix('transform','rotate(360deg)');

				}
			    box-shadow: 0 0 5px 5px #efefef;
			    -webkit-box-shadow: 0 0 5px 5px #efefef;
			}

			a{
				transition: 0.3s all linear;
				-webkit-transition: 0.3s all linear;
				-ms-transition: 0.3s all linear;
				-moz-transition: 0.3s all linear;
				box-shadow: 0 0 1px 1px #efefef;
				padding: 10px;
				color: #737373;
				@include flex();
				align-items: center;
				max-height: 155px;
				@include breakpoint(small){
					display: block;
					margin: 0 auto;
				}
				&:hover{
					background: #f9f9f9;
					color: $primary-color;
				}
			}
			img{
				display: block;
				margin: 0 auto 20px;
				/*transition: 0.4s all linear;
				-webkit-transition: 0.4s all linear;
				-ms-transition: 0.4s all linear;
				-moz-transition: 0.4s all linear;
				&:hover{
					@include vendor-prefix('transform','scale(1.2)');
				}*/
			}
		}
	}
}
.line{
	@include flex();


	div{
		height: 11px;
		width: 33.33%;

		&.green{
			background: #017f3f; 
		}
		&.grey{
			background: #aaa;
		}
		&.blue{
			background: #0062b9;
		}
	}
}
.line-half-grid{
	div{
		height: 7px;
		&.grey,
		&.blue{
			width: 50%;
		}
		&.grey{
			background: #e6e6e6;
		}
		
	}
}

/*subscribe*/
.subscribe-us{
	background: url(../images/subscribe.jpg);
	background-size: cover;
	color: $white-color;
	position: relative;
	text-align: center;
	padding: 80px 0;
	background-attachment: fixed;
	@include breakpoint(wide){
		background-attachment: scroll;
	}
	&:after{
		@extend .overlay-shadow;

	}

	h2{
		margin-top: 0;
		margin-bottom: 25px;
	}
	p{
		font-size: 18px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	.subscribe-inner{
		@include flex();
		justify-content: center;
		@include breakpoint(small){
			display: block;
		}
	}
	.subscribe-btn{
		padding: 0 30px;
		@include breakpoint(small){
			padding: 10px 30px;
			margin-top: 20px;
		}
	}
	input[type='email']{
		width: 400px;
		max-width: 100%;
	}
}
/*testimonials*/
.testimonials{
	background: url(../images/testimonial.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: $white-color;
	position: relative;
	padding: 60px 0;
	text-align: center;
	@include breakpoint(wide){
		background-attachment: scroll;
	}
	h2{
		margin-bottom: 30px;
		font-weight: 40px;
	}
	.testimonials-slider{
		width: 750px;
		margin: 0 auto;
		max-width: 100%;
	}
	img{
		width: 138px;
		height: 138px;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		margin: 0 auto;
	}
	@include breakpoint(small){
		padding: 50px 0;
	}
	&:after{
		@extend .overlay-shadow;

	}
	.name-position{
		margin: 20px 0;
		strong{
			color: $secondary-color;
			display: block;
		}
	}
}
.feature-property-wrapper{
	.nav-tabs{
		border: none;
		padding: 30px 0 30px 20px;
		li{
			margin: 0 5px;
			border: none !important;
		}
		a{
			background: $grey-color;
			color: $white-color;
			border-radius: 0;
			-webkit-border-radius: 0;
			padding-left: 20px;
			padding-right: 20px;
			border: none !important;

			@include breakpoint(small){
				padding-left: 15px;
				padding-right: 15px;
			}
			@include breakpoint(extrasmall){
				padding-left: 10px;
				padding-right: 10px;
				font-size: 12px;
			}

			&:hover,
			&:focus{
				background: $btn-color !important;
				color: $white-color !important;
			}
		}
		.active{
			a,
			&:hover{
				background: $btn-color;
				color: $white-color;
			}

		}
		.properties{

			li{
				display: flex;
				border-bottom: 1px solid solid #eee;
				strong{
					width: 50%;
				}
			}
		}
	}

	.feature-property{
		@include flex();
		padding-bottom: 0 !important;
		ul{
			list-style: none;
			margin-left: 0;
			padding-left: 0;
		}
		
		
		.properties{
			width: 40%;
			height: 440px;
			overflow-x: auto;
			@include breakpoint(small){
				width: 100%;
				margin-bottom: 30px;
			}
			li{
				margin-bottom: 15px;
				border-bottom: 1px solid #ddd;
				padding-bottom: 10px;
				padding-left: 15px;
				padding-right: 15px;
				@include flex();
				strong{
					width: 50%;
				}
			}
		}
		.map{
			width: 60%;
			@include breakpoint(small){
				width: 100%;
			}
			iframe{
				width: 100%;
			}
		}	
	}
}
/*latest-news-item */
.latest-news-item,
.similar-item {
	padding: 0 10px 10px;

	h3{
		font-size: 17px;
		a{
			color: $dark-color;
			&:hover{
				color: $primary-color;
			}
		}
	}
	.date{
		margin-bottom: 10px;
		display: block;
		font-style: italic;
		font-size: 12px;
		color: #9e9e9e;
	}
	.news-item-inner,
	.similar-inner{
		padding-bottom: 10px;
		box-shadow: 0 0 1px 1px #efefef;
		-webkit-box-shadow: 0 0 1px 1px #efefef;
		@inlcude vendor-prefix('transition', '0.3s all ease');

		&:hover{
        		background: #f1f1f1;
        		-webkit-box-shadow: 0 0 5px 5px #efefef;
		box-shadow: 0 0 5px 5px #efefef;
		}

	}
	.news-article,
	.similar-article{
		padding: 10px 15px ;
	}
	.common-btn{
		display: inline-block;
	}
}
.similar-item{
	img{
		width: 100%;
	}
}

/*trusted*/
section.trusted{
	padding-top:50px;
	padding-bottom: 120px;
	@include breakpoint(wide){
		padding-bottom: 80px;
	}
	@include breakpoint(small){
		padding-top: 0;
	}

	img{
		margin: 0 auto;
	}
	li{
		list-style: none;
		-webkit-box-shadow: 0 0 1px 1px #efefef;
		box-shadow: 0 0 1px 1px #efefef;
		min-height: 140px;
		padding:15px 10px;
		margin: 1px 10px;
		@include flex();
		@include breakpoint(medium){
			min-height: inherit;
			display: block;
		}
		align-items: center;
	}
	ul{
		margin-left: 0;
		padding-left: 0;
	}

}
.form-heading{
	text-align: center;
	border-bottom: 1px solid $border-color;
	h3{
		text-transform: uppercase;
		font-weight: normal;
	}
}
.form-section-side{
	margin-top: 60px;
	border-top: 6px solid #db433e;
	box-shadow: 0 0 1px 1px #efefef;
	padding-bottom: 40px;
	@include breakpoint(small){
		margin-top: 90px;
	}
	form{
		padding: 0 20px;
	}
	ul{
		margin-top: 30px;
	}
	li{
		list-style: none;
		margin-bottom: 20px;
	}
	input[type='submit']{
		width: 100%;
		background: #db433e;
		font-weight: normal;
		font-size: 16px;
		text-transform: capitalize;
		&:hover{
			background: $secondary-color;
		}
	}
	.checkbox-wrap{
		margin: 10px 0;
		label{
			margin-bottom: 0;
			padding-left: 25px;
			position: relative;
			font-size: 12px;
			&:before{
				display: block;
				content: '';
				clear: both;
				width: 16px;
				height: 16px;
				position: absolute;
				left: 0;
				border: 1px solid #ccc;

			}
		
			.ico{
				position: absolute;
				left: 2px;
				top: 1px;
				opacity: 0;
				z-index: 1;
			}
			input[type='checkbox']{
				opacity: 0;
				position: absolute;
				letter-spacing: 2px;
				top: -3px;
				left: -3px;
				left: 0;
			}
				input[type='checkbox']:checked + .ico{
				opacity: 1;
			}

		}
	}
	textarea{
		margin-top: 40px;
	}
	
	label{
		font-weight: normal;
		font-size: 13px;
	}
}
.overview{
	padding-top: 25px;
	padding-bottom: 40px;
	.overview-detail{
		margin-bottom: 40px;
		ul{
			li{
				width: 25%;
				float: left;
				@include breakpoint(small){
					width: 100%;
				}
				strong,
				span{
					display: block;
				}
				span{
					padding-bottom: 10px;
					font-size: 14px;
					color: #000;
				}
				strong{
					color: #7f7f7f;
					font-size: 20px;
					font-weight: 500;
				}
			}
			&:after{
				display: block;
				content: '';
				clear: both;
			}
		}
		li{
			list-style: none;

		}

	}
}
.more{
	text-align: right;
}
.map{
	iframe{
		width: 100%;
	}
}
.detail-list{
	
	ul{
		display: flex;
		flex-wrap: wrap;
		list-style: none;
	}
	li{
		width: 25%;
		@include breakpoint(small){
			width: 100%;
		}
	}
	span{
		color: #7f7f7f;
	}
	strong{
		font-weight: 400;
		color: #000;
	}
}
.similar-properties{

	.section-title{
		text-align: left;
		padding-bottom: 0;
		margin-bottom: 30px;
		}
	.similar-article{

		h2{
			font-size: 20px;
			font-weight: 500;
			color: #000;
			margin-top: 15px;
			margin-bottom: 0;
		}
		h3{
			font-size: 15px;
			color:#444;
			margin-top: 15px;
			margin-bottom: 0;
		}
	}
}
.property-des{
	padding: 25px 0;
	.title-porperty{
		@include breakpoint(small){
				text-align: center;
			}
		h3{
			margin-top: 0;
			font-weight: 500;
			font-size: 30px;
			font-weight:  400;
			margin-bottom: 0;

		
		}
	}
	.common-btn{
		width: 145px;
		height: 37px;
		line-height: 27px;
		display: inline-block;
		font-size: 12px;
		background: #0baa6e;
		margin-top: 10px;
	}
}
.property-price{
	text-align: right;
	font-size: 18px;
	@include breakpoint(small){
		 margin-top: 30px;
		 	text-align: center;
	}
	   
	a{
		text-align: center;
	}
	strong{
		font-weight: 500;
	}
}

.detail-tab-section{
	-webkit-box-shadow: 0px 3px 3px 1px #eaeaea;
	    box-shadow: 0px 3px 3px 1px #eaeaea;
	    margin-top: 20px;
	ul{
		margin-left: -20px;
		margin-right: -20px;
	}
	li{
		list-style: none;
		display: inline-block;
		padding: 10px 20px ;
		a{
			text-transform: uppercase;
			color: $dark-color;
			position: relative;
			display: block;
			&:after{
					display: block;
					content: '';
					clear: both;
					height: 3px;
					background: #00b4ff;
					position: absolute;
					bottom: 0;
					width: 0;
					left: 0;
				}

			&:hover{
				color: #00b4ff;
				&:after{
					width: 100%;
				}

			}
		}
	}

}

.project-wrap{
		ul{
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}
		li{
			list-style: none;
			width: 24.5%;
			display: inline-block;
			text-align: center;
			padding: 8px 22px;
			margin: 12px 0 17px;
			border-right: 1px solid #e6e6e6;
			@include breakpoint(small){
				width: 49.5%;
				&:nth-child(2){
					border-right: 0;
				}
			}
			&:last-child{
				border-right: none;
			}
			strong{
				font-size: 14px;
			}
			strong,
			span{
				display: block;
			

			}
			span{
				color: #7f7f7f;
				font-size: 12px;
				margin-top: 5px;
			}
		}
}

.gallery{
	padding-bottom: 40px;
	h2{
		margin-top: 0;
	}
	*{
		outline: none;
	}
	.section-title-border{
		margin-bottom: 15px;
	}
	.nav-tabs{
		border: none;
		margin: 0 -10px;
	}
	.nav-tabs > li.active > a{
		position: relative;
		&:after{
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			content: '';
			clear: both;
			width: 100%;
			height: 3px;
			background: #00b4ff;
		}
	}
	.nav-tabs > li.active > a, 
	.nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus{
		border: none;
		color: #000;

		/*border-bottom: 2px solid #00b4ff;*/

	}
	.nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus{
		color: #00b4ff;
		content: '';
	}
	.nav-tabs > li {
		border: none;
		outline: none;
	}
	.nav-tabs > li > a{
		color: #000;
		padding: 0;
		margin: 10px;
		border: none;
		outline: none;
		padding-bottom: 3px;


		&:hover{
			color: #00b4ff;
			background: none;
			border-color: transparent;
			content: '';
		}
	}
}
.popup-gallery{
	margin: 0 -13px ;
	img{
		width: 100%;
		height: auto;
	}
	a{
		width: 32.33%;
		display: inline-block;
		padding: 15px;
		outline: none;
		@include breakpoint(medium){
			width: 49.5%;

		}
		@include breakpoint(smaller){
			width: 100%;


		}
	}
}