{% extends '@YarshaStudioAdmin/Settings/layout.html.twig' %}

{% form_theme settings_form "@YarshaStudioAdmin/Form/admin_form_horizontal_layout.html.twig" %}

{% block settings_form %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {% trans from 'settings' %}settings{% endtrans %}
                </h4>
            </div>
            <div class="panel-body">
                {#<form method="post" id="settings-form" {{ form_enctype(settings_form) }} role="form" class="form-horizontal">#}
                <form method="post" id="settings-form" enctype="multipart/form-data" role="form" class="form-horizontal">

                    {{ form_widget(settings_form) }}

                    <br/>

                    <input type="submit" class="btn btn-primary" value="{% trans from 'settings' %}save{% endtrans %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
