<div class="feature-detail">
    <div class="row">
        <div class="col-sm-8">
            <div class="feature-place">
                <h2>
                    <a href="{{ path('property_frontend_property_detail_page',{slug:property.slug,id:property.id}) }}">
                        {{ property.name }}
                    </a>
                </h2>
                <span>{{ property.location }}</span>
            </div>
        </div>
        <div class="col-sm-4">
            <span class="feature-price">Rs. {{ property.price | number_format }}/-</span>
        </div>
    </div>
</div><!-- feature-detail -->
{% if property.images %}
<section class="inner-banner inner-cat">
    <div class="inner-slider">
        {% for i in property.images | slice(0,5) %}
            <div class="items">
                <img src="{{ asset('/uploads/property_images/' ~ i.imageName) | imagine_filter('property_listing_gallery_image') }}" alt="{{ i.caption }}">
            </div><!-- .items -->
        {% endfor %}
    </div><!-- .slider -->
</section> <!-- .banner -->
{% endif %}
<section class="detail-tab-section">
    <div class="detail-tab">
        <ul>
            <li>
                <a href="#overview"> Overview </a>
            </li>
            <li>
                <a href="#amenities"> Amenities </a>
            </li>
            <li>
                <a href="#contact"> Contact </a>
            </li>
        </ul>
    </div><!-- .detail-tab -->
</section>
<section class="overview" id="overview">

    <div class="view-details">
        <ul>
            <li>
                <div class="view-name"> Config Type :</div>
                <div class="view-desc"> </div>
            </li>
            <li>
                <div class="view-name">Project Area :</div>
                <div class="view-desc"> 4 aana</div>
            </li>
            <li>
                <div class="view-name">Possession Status :</div>
                <div class="view-desc">Ready to Move</div>
            </li>
        </ul>
    </div>
    <div class="inner-overview">
        <p>{{ property.reasonForSale }}</p>
        {#<div class="more"><a href=""> Read More </a></div>#}
    </div> <!-- .inner-overview -->
</section> <!-- .overview -->
<section class="amenities detail-list" id="amenities">
    <h2 class="section-title-border"> Amenities </h2>
    <ul>
        {% for a in property.privateAmenities %}
            <li>
                <img src="{{ vich_uploader_asset(a,'iconImage') | imagine_filter('property_detail_amenity_icon') }}" alt="">
                <span> <strong>{{ a.name }}</strong> </span>
            </li>
        {% endfor %}
    </ul>
</section>
<section id="contact" class="form-section-side">
    <h2 class="section-title-border"> Contact </h2>
    <div class="form-heading">
        <h3>
            Enquiry
        </h3>
        <p>
            I would like to know more about
        </p>
    </div>
    <form>
        <ul>
            <li>
                <input type="text" name="name" placeholder="Name">
            </li>
            <li>
                <input type="tel" name="contact" placeholder="Contact No.">
            </li>
            <li>
                <input type="email" name="email" placeholder="Email ID">
            </li>
            <li>
                <textarea placeholder="Messages">Messages</textarea>
            </li>
            <li>
                <div class="checkbox-wrap">
                    <label>
                        <input type="checkbox" name="checbox"> Allow other sellers to
                        get in touch
                        <span class="ti-check ico"></span>
                    </label>
                </div>
                <div class="checkbox-wrap">
                    <label>
                        <input type="checkbox" name="checbox"> Allow other sellers to
                        get in touch
                        <span class="ti-check ico"></span>
                    </label>
                </div>
            </li>
            <li>

            </li>
        </ul>
        <input type="submit" name="submit" value="Get Contact Details">
    </form>
</section> <!-- .form-section-side -->