{% extends '@Property247Frontend/forntend_layout.html.twig' %}

{% block content %}
    <section class="breadcumb background-grey">
        <div class="container">
            <a href=""> Home </a> > <a href=""> Kathmandu </a>
        </div>
    </section>
    <section class="category-nav" data-spy="affix" data-offset-top="85" data-offset-bottom="150">
        <div class="container">
            <div class="cat-nav">
                <ul>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="cat-link">
                            <img src="images/nav-1.png" alt="">
                            <span>Bedroom</span>
                        </a>
                        <span class="cat-arrow"> <img src="images/arrow-nav.png" alt=""> </span>
                        <div class="sub-menu-cat">
                            <ul>
                                <li>
                                    <div class="checkbox-wrap">
                                        <label>
                                            <input type="checkbox" name="checbox"> 1 BHK
                                            <span class="ti-check ico"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <label>
                                            <input type="checkbox" name="checbox"> 2 BHK
                                            <span class="ti-check ico"></span>
                                        </label>
                                    </div>

                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <label>
                                            <input type="checkbox" name="checbox"> 3 BHK
                                            <span class="ti-check ico"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <label>
                                            <input type="checkbox" name="checbox"> 4 BHK
                                            <span class="ti-check ico"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <label>
                                            <input type="checkbox" name="checbox"> 5 + BHK
                                            <span class="ti-check ico"></span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="cat-link">
                            <img src="images/nav-2.png" alt="">
                            <span>Bedroom</span>
                        </a>

                        <span class="cat-arrow"> <img src="images/arrow-nav.png" alt=""> </span>
                        <div class="sub-menu-cat">
                            <div class="row">
                                <div class="col-sm-6 list-nav">
                                    <input type="text" name="">
                                    <ul>
                                        <li>
                                            Rs.0L
                                        </li>
                                        <li>
                                            Rs.5L
                                        </li>
                                        <li>
                                            Rs.10L
                                        </li>
                                        <li>
                                            Any
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 list-nav">
                                    <input type="text" name="">
                                    <ul>
                                        <li>
                                            Rs.5L
                                        </li>
                                        <li>
                                            Rs.10L
                                        </li>
                                        <li>
                                            Rs.20L
                                        </li>
                                        <li>
                                            Any
                                        </li>
                                    </ul>
                                </div>
                            </div> <!-- .row -->
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="cat-link">
                            <img src="images/nav-3.png" alt="">
                            <span>Possession within</span>
                        </a>
                        <span class="cat-arrow"> <img src="images/arrow-nav.png" alt=""> </span>
                        <div class="sub-menu-cat">
                            <ul>
                                <li>
                                    <div class="checkbox-wrap">
                                        <label>
                                            <input type="checkbox" name="checbox"> 1 Month
                                            <span class="ti-check ico"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <label>
                                            <input type="checkbox" name="checbox"> 2 Months
                                            <span class="ti-check ico"></span>
                                        </label>
                                    </div>

                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <label>
                                            <input type="checkbox" name="checbox"> 3 Months
                                            <span class="ti-check ico"></span>
                                        </label>
                                    </div>

                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <label>
                                            <input type="checkbox" name="checbox"> 6 Months
                                            <span class="ti-check ico"></span>
                                        </label>
                                    </div>

                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <label>
                                            <input type="checkbox" name="checbox"> 1 Year
                                            <span class="ti-check ico"></span>
                                        </label>
                                    </div>

                                </li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="cat-link">
                            <img src="images/nav-4.png" alt="">
                            <span>Availability</span>
                        </a>
                        <span class="cat-arrow"> <img src="images/arrow-nav.png" alt=""> </span>
                        <div class="sub-menu-cat">
                            <ul>
                                <li>
                                    <div class="checkbox-wrap">
                                        <label>
                                            <input type="checkbox" name="checbox"> New
                                            <span class="ti-check ico"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox-wrap">
                                        <label>
                                            <input type="checkbox" name="checbox"> Resale
                                            <span class="ti-check ico"></span>
                                        </label>
                                    </div>

                                </li>
                            </ul>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="cat-link">
                            <img src="images/nav-5.png" alt="">
                            <span>Filters</span>
                        </a>
                        <span class="cat-arrow"> <img src="images/arrow-nav.png" alt=""> </span>
                        <div class="sub-menu-cat filters-nav">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h4>Project Status</h4>
                                    <ul>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <label>
                                                    <input type="checkbox" name="checbox"> Launching Soon
                                                    <span class="ti-check ico"></span>
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <label>
                                                    <input type="checkbox" name="checbox"> New Lunch
                                                    <span class="ti-check ico"></span>
                                                </label>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <label>
                                                    <input type="checkbox" name="checbox"> Under Construction
                                                    <span class="ti-check ico"></span>
                                                </label>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <label>
                                                    <input type="checkbox" name="checbox"> Ready to Move In
                                                    <span class="ti-check ico"></span>
                                                </label>
                                            </div>

                                        </li>
                                    </ul>
                                </div><!-- .col -->
                                <div class="col-sm-4">
                                    <h4>Project Status</h4>
                                    <ul>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <label>
                                                    <input type="checkbox" name="checbox"> Apartments
                                                    <span class="ti-check ico"></span>
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <label>
                                                    <input type="checkbox" name="checbox"> Building
                                                    <span class="ti-check ico"></span>
                                                </label>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <label>
                                                    <input type="checkbox" name="checbox"> Plots
                                                    <span class="ti-check ico"></span>
                                                </label>
                                            </div>

                                        </li>
                                    </ul>
                                </div><!-- .col -->
                                <div class="col-sm-4">
                                    <h4>Area</h4>
                                    <div class="row">
                                        <div class="col-sm-6 list-nav">

                                            <input type="text" name="min" placeholder="Minmum">
                                            <ul>
                                                <li>
                                                    Rs.0L
                                                </li>
                                                <li>
                                                    Rs.5L
                                                </li>
                                                <li>
                                                    Rs.10L
                                                </li>
                                                <li>
                                                    Any
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 list-nav">
                                            <input type="text" name="max" placeholder="Maxmium">

                                        </div>
                                    </div> <!-- .row -->
                                </div>
                            </div> <!-- .row -->
                        </div>
                    </li>
                </ul>
            </div><!-- .cat-nav -->
        </div><!-- .container -->
    </section>
    <div class="apart-wrap">
        <div class="container">
            <div class="apart-bg">
                <div class="row">
                    <div class="col-md-6">
                        {% for p in properties %}
                            <section class="left-apart {% if loop.index > 5 %} end-part {% endif %}">
                                <div class="row">
                                    {% set image = get_property_featured_image(p) %}
                                    {% set imagePath = image ? asset('/uploads/property_images/' ~ image.imageName) : asset('images/house_image.png') %}
                                    {% if imagePath != false %}
                                        <div class="col-sm-4">
                                            <a href="javascript:void(0)"
                                               class="property-image"
                                               data-property-id="{{ p.id }}"
                                               title="{{ p.name }}">
                                                <img src="{{ imagePath  | imagine_filter('property_listing_image') }}"
                                                     alt="{{ p.name }}">
                                            </a>
                                        </div><!-- .col -->
                                    {% endif %}
                                    <div class="col-sm-8">
                                        <div class="detail-cnt">
                                            <h4>
                                                <a href="javascript:void(0)"
                                                   class="property-name"
                                                   data-property-id="{{ p.id }}"
                                                   title="{{ p.name }}">
                                                    {{ p.name }}
                                                </a>
                                            </h4>
                                            <p class="add">{{ p.location }}</p>
                                            <div class="price-dtl">
                                                <div class="conf">
                                                    <div class="lft-conf">configs</div>
                                                    <div class="rgt-conf">
                                                        <strong></strong>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="prc">
                                                    <div class="lft-prc">Price</div>
                                                    <div class="rgt-prc">
                                                        <strong>Rs {{ p.price | number_format }}/-</strong>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>

                                            </div>
                                            <div class="lst-cnt">
                                                <div class="lft-cnt">
                                                    Property 247 <br>
                                                    Promoter
                                                </div>
                                                <div class="rgt-cnt">
                                                    <ul>
                                                        <li>
                                                            <a class="hrt" href="">
                                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="deal" href="">Contact Dealer</a>
                                                        </li>
                                                        <div class="clearfix"></div>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- .col -->
                                </div><!-- .row -->
                            </section><!-- .left-apart -->
                        {% else %}
                            {{ no_contents('No property found') }}
                        {% endfor %}
                        {{ knp_pagination_render(properties) }}
                    </div> <!-- col -->
                    <div class="col-md-6">
                        <div class="right-section" data-spy="affix" data-offset-top="150" data-offset-bottom="600">
                            <section class="map" id="map" style="width: 100%; height: 450px;"></section><!-- map -->
                            <div class="overlap-block">
                                <div class="close-btn">
                                    <span class="ti-close close-overlap"></span>
                                    <div class="clearfix"></div>
                                </div> <!-- .close-btn -->
                                <div id="search-overlap-block"></div>
                            </div> <!-- overlap-block -->
                        </div>
                    </div> <!-- .col -->
                </div><!-- .row -->
            </div><!-- .apart-bg -->
        </div>  <!-- .container -->
    </div><!-- apart-wrap -->

{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/property247frontend/js/jquery.magnific-popup.min.js') }}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsCmwaCQcDoySbaNQ0kdBCmhhpLv8gqgw&callback=initMap"></script>
    <script>

        $('.property-image, .property-name').on('click', function (e) {
            e.preventDefault();
            var id = $(this).data('property-id');
            var url = "{{ path('property_frontend_ajax_render_property_overlay',{'id':'ID'}) }}";
            if (id) {
                url = url.replace(/ID/g, id);
                $.ajax({
                    url: url,
                    success: function (data) {
                        if (data.success) {

                            $('#search-overlap-block').find(".detail-tab").closest('a').click(function (e) {
                                e.preventDefault();
                                var href = $(this).attr('href');
                                $('html, body').animate({
                                    scrollTop: $("#" + href).offset().top
                                }, 500);
                            })

                            $('#search-overlap-block').html(data.template)
                            $('.overlap-block').fadeIn();

                            $('#search-overlap-block')
                                .find('.inner-slider')
                                .slick({
                                    dots: true,
                                    infinite: true,
                                    speed: 300,
                                    slidesToShow: 1,
                                    adaptiveHeight: true,
                                    arrows: false,
                                    autoplay: true,
                                    autoplaySpeed: 6000
                                });

                            $('#search-overlap-block')
                                .find('.bank-slider').slick({
                                dots: true,
                                infinite: true,
                                speed: 300,
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                adaptiveHeight: true,
                                arrows: false,
                                autoplay: true,
                                autoplaySpeed: 6000,
                                // prevArrow: '<div class="slick-prev"><span class="ti-arrow-left"></span></div>',
                                // nextArrow: '<div class="slick-next"><span class="ti-arrow-right"></span></div>',

                                responsive: [
                                    {
                                        breakpoint: 991,
                                        settings: {
                                            slidesToShow: 2,
                                            slidesToScroll: 2
                                        }
                                    },
                                    {
                                        breakpoint: 767,
                                        settings: {
                                            slidesToShow: 1,
                                            slidesToScroll: 1
                                        }
                                    }
                                ]
                            });

                        }
                    }
                });
            }
        });

        $('.overlap-block').on('click', '.close-overlap', function (e) {
            e.preventDefault();
            $('.overlap-block').fadeOut();
        });

        $('.cat-nav').find('.nav-item').on('click', function (e) {
            e.preventDefault();
            $(this).find('.sub-menu-cat').toggle();
        });

        function initMap() {
            var center = {lat: 27.687463, lng: 85.3084514};
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 10, center: center});
            var locations = [
                {% for p in properties %}
                ['{{ p.name }}<br/>{{ p.location }}', {{ p.latitude }}, {{ p.longitude }}, {{ loop.index }}],
                {% endfor %}
            ];
            var infowindow = new google.maps.InfoWindow();
            var marker, i;
            var markers = new Array();
            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map
                });
                markers.push(marker);
                google.maps.event.addListener(marker, 'mouseover', (function (marker, i) {
                    return function () {
                        infowindow.setContent(locations[i][0]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
                google.maps.event.addListener(marker, 'mouseout', (function (marker, i) {
                    return function () {
                        infowindow.close();
                    }
                })(marker, i));
            }

            function AutoCenter() {
                //  Create a new viewpoint bound
                var bounds = new google.maps.LatLngBounds();
                //  Go through each...
                $.each(markers, function (index, marker) {
                    bounds.extend(marker.position);
                });
                //  Fit these bounds to the map
                map.fitBounds(bounds);
            }

            AutoCenter();
        }

    </script>
{% endblock %}