<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Property 247.co</title>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,700,900" rel="stylesheet">

    {#<link rel="stylesheet" href="{{ asset('bundles/property247frontend/css/magnific-popup.css') }}">#}

    <!-- css -->
    <!--     <link href="themify-icons.css" rel="stylesheet"> -->
    <link href="{{ asset('bundles/property247frontend/css/style.css') }}" rel="stylesheet">

    {% block css %}

    {% endblock %}


</head>
<body>
<header class="site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <a href="{{ path('property_frontend_index_page') }}"><img
                                src="{{ asset('bundles/property247frontend/images/logo.png') }}" alt=""></a>
                </div><!-- .logo -->
            </div>
            <div class="col-md-9">
                {% set route = app.request.get('_route') %}
                {% if route != 'property_frontend_index_page' %}
                    <form action="{{ path('property_frontend_search') }}">
                        <div class="search-section">

                            <div class="location">
                                <a href="#feature-property">
                                    <!--  <img src="images/map.png" alt="">  -->
                                    <span class="ti-location-pin"></span>
                                    cities
                                </a>
                            </div>
                            <div class="search-bx">

                                <input type="search" name="" placeholder="Search by Location, Project or landmark">

                            </div>
                            <button class="search-btn"><span class="ti-search"></span></button>
                        </div><!-- .seach-section -->
                    </form>
                {% endif %}
                <div class="top-links">
                    <ul>
                        <li>
                            <a href=""><img src="{{ asset('bundles/property247frontend/images/homeloan.png') }}" alt="">
                                Home Loan </a>
                        </li>
                        <li>
                            <a href=""><img src="{{ asset('bundles/property247frontend/images/download.png') }}" alt="">
                                Download App </a>
                        </li>
                        <li>
                            <a href=""><img src="{{ asset('bundles/property247frontend/images/sell-rent.png') }}"
                                            alt=""> Sell/Rent Property </a>
                        </li>
                        <li>
                            <a href=""><img src="{{ asset('bundles/property247frontend/images/loan.png') }}" alt="">
                                Loan </a>
                        </li>

                    </ul>
                </div><!-- top-links -->
                <nav class="site-nav">
                    <div id="overlay">
                        <div id="nav-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="main-navigation">
                            <ul class="primary-menu navbar-right">
                                <li>
                                    <a href=""> Home</a>
                                </li>
                                <li>
                                    <a href=""> About us </a>
                                </li>
                                <li>
                                    <a href=""> ACCOMMODATION</a>
                                </li>
                                <li>
                                    <a href=""> ROOMS</a>
                                </li>
                                <li>
                                    <a href="">Contact Us</a>
                                </li>
                            </ul>
                        </div> <!-- .main-navigation -->
                    </div>
                </nav><!-- nav -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div>
</header><!-- header -->


{% block content %}


{% endblock %}


<section class="line">
    <div class="green">
    </div>
    <div class="grey">
    </div>
    <div class="blue">
    </div>
</section> <!-- line -->
<footer class="site-footer">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>About Property 247.co</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div><!-- .col -->
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Real estate In Nepal</h3>
                            <ul>
                                <li>
                                    <a href="">

                                        Building In Kathamndu
                                    </a>
                                <li>
                                    <a href="">
                                        Land In Kathamndu
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Building In Bhaktapur
                                    </a>
                                </li>

                                <li>
                                    <a href="">
                                        Land In Bhaktapur
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Building In Lalitpur
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Land In Lalitpur

                                    </a>
                                </li>
                            </ul>
                        </div><!-- .col -->
                        <div class="col-sm-4">
                            <h3>Quick link</h3>
                            <ul>
                                <li>
                                    <a href="">
                                        Careers
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        About us
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        For Partners
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Terms
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Privacy policy
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Home Loan
                                    </a>
                                </li>
                                <li>
                                    <a href=""> Contact us </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h3>Resources</h3>
                            <ul>
                                <li>
                                    <a href=""> Home loan</a>
                                </li>
                                <li>
                                    <a href="">
                                        How to Buy
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Services
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- .row -->
            </div><!-- .row -->

        </div><!-- .container -->
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="foot-blk">
                        <div class="icon">

                            <span class="ti-location-pin"></span>

                        </div><!-- icon -->
                        <div class="detail">
                            <p>
                                <span class="small">Visit</span>
                                Jamal, Kathmandu
                            </p>
                        </div>
                    </div>
                </div><!-- .col -->
                <div class="col-sm-3">
                    <div class="foot-blk">
                        <div class="icon">
                            <span class="ti-email"></span>
                            <!-- <img src="{{ asset('bundles/property247frontend/images/location-pin.svg') }}"> -->
                        </div><!-- icon -->
                        <div class="detail">
                            <p>
                                <span class="small">E-mail </span>
                                <a href="">info@property247.com </a>
                            </p>
                        </div>
                    </div>
                </div><!-- .col -->
                <div class="col-sm-3">
                    <div class="foot-blk">
                        <div class="icon">
                            <span class="ti-mobile"></span>
                        </div><!-- icon -->
                        <div class="detail">
                            <p>
                                <span class="small">Contact Us</span>
                                <a href="">4410205</a>
                            </p>
                        </div>
                    </div><!-- .col -->
                </div>

                <div class="col-sm-3">
                    <div class="follow-us">
                        <h4>Follow us on</h4>
                        <ul>
                            <li>
                                <a href=""> <span class="ti-facebook"></span> </a>
                            </li>
                            <li>
                                <a href=""> <span class="ti-twitter"></span> </a>
                            </li>
                            <li>
                                <a href=""> <span class="ti-instagram"></span> </a>
                            </li>
                            <li>
                                <a href=""> <span class="ti-youtube"></span> </a>
                            </li>
                        </ul>
                    </div><!-- follow-us -->
                </div><!-- .col -->
            </div>
        </div> <!-- .container -->
    </div> <!-- .bottom-footer -->
    <div class="copy-right">
        <p>
            Copyright {{ "now"|date('Y') }} © Property247
        </p>
    </div>
</footer>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="{{ asset('bundles/property247frontend/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/property247frontend/js/main.js') }}"></script>
<script src="{{ asset('bundles/property247frontend/js/slick.js') }}"></script>

{% block scripts %}

{% endblock %}


</body>
</html>

