/*Permission Based listing*/
.dn-module-items {
    background: #F5F5F5;
}

.dn-module-title {
    background: #DDDDDD;
    line-height: 16px;
    padding: 6px;
    font-size: 16px;
    color: #444;
}

.dn-permission-wrapper input[type='checkbox'] {
    margin-right: 10px !important;
}

.dn-group-list {
    margin-left: 10px;
}

.dn-perm-list {
    list-style: none;
}

.dn-group-title {
    border-bottom: 1px dotted #CCC;
}

/*Layout Css*/
.page-header {
    margin-bottom: 20px;
}

.filter-wrap .panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
}

#adminFilterForm .form-group .control-label, #adminFilterForm .form-group .form-control {
    padding-top: 2px;
    padding-bottom: 2px;
}

#adminFilterForm .form-group .form-control {
    height: 20px;
}

#showHideFilterButton {
    display: block !important;
    position: relative;
}

.bootstrap-switch {
    line-height: 8px
}

.form-group .checkbox label {
    padding-left: 10px
}

em.required {
    color: #990000
}

form label {
    font-family: Roboto, sans-serif;
    /*font-weight: 700 !important;*/
    font-size: 11px;
}

.form-horizontal label:after {
    content: ':';
    float: right;
}

.form-horizontal .checkbox label:after {
    content: '';
}

.form-horizontal .form-group {
    margin-bottom: 5px;
}

.select2-container {
    width: 100% !important;
}

.select2 .select2-selection {
    padding: 0;
    height: 20px;
}

.select2-dropdown {
    width: 250px !important;
}

.uploader .filename {
    max-width: 50%;
}

.uploader .bg-pink-400 {
    background-color: #ccc;
    border-color: #999;
    color: #fff;
}

.bootstrap-tagsinput span.tag.label {
    border-radius: 0;
    line-height: 5px;
    padding: 6px 20px 6px 6px;
}

.bootstrap-tagsinput .tag [data-role=remove] {
    line-height: 5px !important;
    right: 5px !important;
}

.dropzone {
    min-height: 200px !important;
}

.vich-image a img {
    width: 100%;
}

.my-collection li {
    display: block;
}

.tags .add-new-control {
    clear: both;
}

.tags .add-new-control a {
    margin-top: 10px;
    display: block;
    float: left;
}

.polls-tags li {
    position: relative;
}

.polls-tags li span.removeImage {
    position: absolute;
    right: 0;
    bottom: 0;
}

.tag-button{
    color:#000000;
    border:1px solid #000000;
    font-size: 10px;
    display: inline-block;
    font-weight: 500;
    padding: 2px 5px 1px;
    line-height: 1.5384616;
    text-transform: uppercase;
    border-radius: 2px;
}
.title-tag{
    font-size: 10px;
    color: #3b3b1f;
    font-style: italic;
}

.news-title{
    font-size: 14px;
}

.select2-selection--multiple{
    overflow: hidden !important;
    height: auto !important;
}

.select2-selection--single{
    overflow: hidden !important;
    height: 30px !important;
}

.select2-selection--single .select2-selection__rendered {
    margin-top: 5px;
}

#adminFilterForm .form-group .form-control {
    height: 25px;
}

#adminFilterForm .form-group .control-label, #adminFilterForm .form-group .form-control {
    padding-top: 5px;
    padding-bottom: 5px;
}

.polls-tags li span.removeImage {
    right: 11px !important;
}