
<section class="rated-properties">
    <div class="container">
        <div class="col-sm-3">
            <div class="property-item">

            </div><!-- .property-item -->
        </div><!-- .col -->
    </div>
</section> <!-- .rated-properties  -->
<section class="feature-property-wrapper" id="feature-property">
    <div class="container">
        <h2 class="section-title">Featured Properties Location</h2>
        <div class="properties-bx-wrap">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#kathmandu" aria-controls="kathmandu" role="tab" data-toggle="tab"> Kathmandu</a></li>
                <li role="presentation"><a href="#bhaktapur" aria-controls="bhaktapur" role="tab" data-toggle="tab">Bhaktapur</a></li>
                <li role="presentation"><a href="#lalitpur" aria-controls="lalitpur" role="tab" data-toggle="tab">Lalitpur</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="kathmandu">
                    <div class="feature-property">
                        <div class="properties">
                            <ul>
                                <li>
                                    <strong>Newroad</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Baneshwor</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Jamal</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Durbarmarg</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Tripureshwor</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Kalimati</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Newroad</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Baneshwor</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Jamal</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Durbarmarg</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Tripureshwor</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Kalimati</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Newroad</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Baneshwor</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Jamal</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Durbarmarg</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Tripureshwor</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Kalimati</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>

                            </ul>
                        </div><!-- properties  -->
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14131.99782958029!2d85.2686657697754!3d27.68641165!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1529759013623" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div><!-- .map -->
                    </div> <!-- .feature-property -->
                </div>
                <div role="tabpanel" class="tab-pane" id="bhaktapur">
                    <div class="feature-property">
                        <div class="properties">
                            <ul>
                                <li>
                                    <strong>Newroad</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Baneshwor</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Jamal</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Durbarmarg</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Tripureshwor</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Kalimati</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Newroad</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Baneshwor</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Jamal</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Durbarmarg</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Tripureshwor</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Kalimati</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Newroad</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Baneshwor</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Jamal</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Durbarmarg</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Tripureshwor</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Kalimati</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>

                            </ul>
                        </div><!-- properties  -->
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14131.99782958029!2d85.2686657697754!3d27.68641165!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1529759013623" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div><!-- .map -->
                    </div> <!-- .feature-property -->
                </div>
                <div role="tabpanel" class="tab-pane" id="lalitpur">
                    <div class="feature-property">
                        <div class="properties">
                            <ul>
                                <li>
                                    <strong>Newroad</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Baneshwor</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Jamal</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Durbarmarg</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Tripureshwor</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Kalimati</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Newroad</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Baneshwor</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Jamal</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Durbarmarg</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Tripureshwor</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Kalimati</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Newroad</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Baneshwor</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Jamal</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Durbarmarg</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Tripureshwor</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>
                                <li>
                                    <strong>Kalimati</strong>
                                    <span>Rs 10,00,000/-</span>
                                </li>

                            </ul>
                        </div><!-- properties  -->
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14131.99782958029!2d85.2686657697754!3d27.68641165!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1529759013623" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div><!-- .map -->
                    </div> <!-- .feature-property -->
                </div>
            </div> <!-- .tab-content -->
        </div> <!-- .properties-bx-wrap -->
    </div><!-- .container -->
</section>