<section class="latest-news">
    <div class="container">
        <h2 class="section-title"> Latest News</h2>
        <div class="latest-news-slider">
            <div class="latest-news-item">
                <div class="news-item-inner">
                    <img src="{{ asset('bundles/property247frontend/images/latest-news-1.jpg') }}" alt="">
                    <div class="news-article">
                        <h3> <a href=""> Get the best property by our agent </a></h3>
                        <span class="date">By Bishal  /  May7, 2018</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <a href="" class="common-btn">Details </a>
                    </div>
                </div><!-- .news-item-inner -->
            </div><!-- .latest-news-item -->
            <div class="latest-news-item">
                <div class="news-item-inner">
                    <img src="{{ asset('bundles/property247frontend/images/latest-news-2.jpg') }}" alt="">
                    <div class="news-article">
                        <h3> <a href="">Get the best property by our agent </a></h3>
                        <span class="date">By Bishal  /  May7, 2018</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <a href="" class="common-btn">Details </a>
                    </div>
                </div><!-- .news-item-inner -->
            </div><!-- .latest-news-item -->
            <div class="latest-news-item">
                <div class="news-item-inner">
                    <img src="{{ asset('bundles/property247frontend/images/latest-news-3.jpg') }}" alt="">
                    <div class="news-article">
                        <h3><a href=""> Get the best property by our agent </a></h3>
                        <span class="date">By Bishal  /  May7, 2018</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <a href="" class="common-btn">Details </a>
                    </div>
                </div><!-- .news-item-inner -->
            </div><!-- .latest-news-item -->
            <div class="latest-news-item">
                <div class="news-item-inner">
                    <img src="{{ asset('bundles/property247frontend/images/latest-news-2.jpg') }}" alt="">
                    <div class="news-article">
                        <h3><a href=""> Get the best property by our agent </a></h3>
                        <span class="date">By Bishal  /  May7, 2018</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <a href="" class="common-btn">Details </a>
                    </div>
                </div><!-- .news-item-inner -->
            </div><!-- .latest-news-item -->
            <div class="latest-news-item">
                <div class="news-item-inner">
                    <img src="{{ asset('bundles/property247frontend/images/latest-news-2.jpg') }}" alt="">
                    <div class="news-article">
                        <h3><a href=""> Get the best property by our agent </a></h3>
                        <span class="date">By Bishal  /  May7, 2018</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <a href="" class="common-btn">Details </a>
                    </div>
                </div><!-- .news-item-inner -->
            </div><!-- .latest-news-item -->
            <div class="latest-news-item">
                <div class="news-item-inner">
                    <img src="{{ asset('bundles/property247frontend/images/latest-news-3.jpg') }}" alt="">
                    <div class="news-article">
                        <h3><a href="">Get the best property by our agent </a></h3>
                        <span class="date">By Bishal  /  May7, 2018</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <a href="" class="common-btn">Details </a>
                    </div>
                </div><!-- .news-item-inner -->
            </div><!-- .latest-news-item -->
            <div class="latest-news-item">
                <div class="news-item-inner">
                    <img src="{{ asset('bundles/property247frontend/images/latest-news-2.jpg') }}" alt="">
                    <div class="news-article">
                        <h3><a href="">Get the best property by our agent </a></h3>
                        <span class="date">By Bishal  /  May7, 2018</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <a href="" class="common-btn">Details </a>
                    </div>
                </div><!-- .news-item-inner -->
            </div><!-- .latest-news-item -->
        </div><!-- .latest-news-slider -->
    </div><!-- .container -->
</section>