
{% if(cities|length > 0 or  featuredCities|length > 0) %}

<section class="view-properties">
    <div class="container">
        <h2 class="section-title">
            View Properties
        </h2>
        {% import _self as macro %}
         {% macro headerPart(c) %}
        {% set col = c.featured?'8':'4' %}
             <div class="col-md-{{ col }} col-sm-6">
                 <div class="view-properties-wrap">
                     {% set imagePath = asset('uploads/city/'~c.imageName) %}
                     <img src="{{ imagePath }}" alt="{{ c.name }}">
                     <div class="overlap-view">
                         <h3>Property on {{ c.name }}</h3>
                         <div class="hide-view">
                         {% endmacro %}
                             {% macro propertyPart(properties) %}
                                 {% set numberToDisplay = properties|length > 1? 3 : 5 %}
                                 {% for key , propertyType in properties %}
                                     {% set type = key == 101?'House':'Land' %}
                                     {% set typeSlug = key == 101?'house':'land' %}
                                     <div class="property-bx">
                                         <ul>
                                             {% for p in propertyType|slice(0,numberToDisplay) %}
                                                 <li>
                                                     <a href="{{ path('property_frontend_property_detail_page',{'slug':p.slug,'id':p.id}) }}">{{ loop.index ~' '~p.name }}</a>
                                                 </li>
                                             {% endfor %}
                                         </ul>
                                         <a href="" class="common-btn"> View all {{ type }} </a>
                                     </div>

                                 {% endfor %}

                             {% endmacro %}

                         {% macro footerPart() %}
                         </div>
                     </div><!-- .overlap-view -->
                 </div><!-- .view-properties-wrap -->
             </div><!-- .col -->

             {% endmacro %}

            {% macro featuredCityPropertiesPart(properties) %}

            <div class="row">
                {% set numberToDisplay = properties|length > 1? 3 : 5 %}
                {% for key , propertyType in properties %}
                    {% set type = key == 101?'House':'Land' %}
                    {% set typeSlug = key == 101?'house':'land' %}
                     <div class="col-sm-6">
                        <div class="property-bx">
                            <ul>
                                {% for p in propertyType|slice(0,numberToDisplay) %}
                                    <li>
                                        <a href="{{ path('property_frontend_property_detail_page',{'slug':p.slug,'id':p.id}) }}">{{ loop.index ~' '~p.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <a href="" class="common-btn"> View all {{ type }} </a>
                        </div>
                     </div>

                {% endfor %}
            </div>
            {% endmacro %}

        <div class="row">
            {#featured city section start#}
                {% for ct in featuredCities|slice(0,1) %}
                    {{ macro.headerPart(ct.city) }}
                    {{ macro.featuredCityPropertiesPart(ct.properties) }}
                    {{ macro.footerPart() }}
                {% endfor %}
            {#featured city section end#}

            {#other city section start#}
           {% for ct in cities %}
               {{ macro.headerPart(ct.city) }}
               {{ macro.propertyPart(ct.properties) }}
               {{ macro.footerPart() }}
           {% endfor %}
            {#other city section end#}
        </div><!-- .row -->
    </div><!-- .container -->
</section> <!-- .view-properties -->

{% endif %}