<section class="block">
    <div class="container">
        <ul>
            <li>
                <a href="">
                    <img src="{{ asset('bundles/property247frontend/images/icon1.png') }}" alt="" >
                    Post  Your
                    Requirment
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{ asset('bundles/property247frontend/images/icon2.png') }}" alt="" >
                    Post  Your
                    Requirment
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{ asset('bundles/property247frontend/images/icon3.png') }}" alt="" >
                    Post  Your
                    Requirment
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{ asset('bundles/property247frontend/images/icon4.png') }}" alt="" >
                    Post  Your
                    Requirment
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{ asset('bundles/property247frontend/images/icon5.png') }}" alt="" >
                    Post  Your
                    Requirment
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{ asset('bundles/property247frontend/images/icon6.png') }}" alt="" >
                    Post  Your
                    Requirment
                </a>
            </li>
        </ul>
    </div><!-- .container -->
</section>