<section class="banner">
    <div class="slider">
        <div class="items">
            <img src="{{ asset('bundles/property247frontend/images/banner.jpg') }}" alt="">
        </div><!-- .items -->
        <div class="items">
            <img src="{{ asset('bundles/property247frontend/images/banner.jpg') }}" alt="">
        </div><!-- .items -->
    </div><!-- .slider -->
    <div class="caption-blk">
        <h3>Nepal's Only Real real Estate Pateform with</h3>
        <h2>10,000 + highly rated Sellers</h2>
        <form action="{{ path('property_frontend_search') }}" method="GET">
            <div class="search-section">

                <div class="location">
                    <a href="#feature-property">
                        <!--  <img src="{{ asset('bundles/property247frontend/images/map.png') }}" alt="">  -->
                        <span class="ti-location-pin"></span>
                        cities
                    </a>
                </div>
                <div class="search-bx">

                    <input type="search" name="query" placeholder="Search by Location, Project or landmark">

                </div>
                <button class="search-btn">Search</button>

            </div><!-- .seach-section -->
        </form>
    </div>
</section> <!-- .banner -->
<section class="line line-half-grid">
    <div class="blue">
    </div>
    <div class="grey">
    </div>
</section> <!-- -->