<section class="subscribe-us">
    <div class="container">
        <h2 class="section-title">Susbricibe us  </h2>
        <p>
            For News & update Regrading Propeties
        </p>
        <form>
            <div class="subscribe-inner">
                <div class="subscribe-bx">
                    <input type="email" name="" placeholder="">
                </div>
                <button class="common-btn subscribe-btn">Subscribe</button>

            </div><!-- .seach-section -->
        </form>
    </div>
</section>