<section class="testimonials">
    <div class="container">
        <div class="testimonials-slider">
            <div class="testimonials-item">
                <h2>Testimonials</h2>
                <img src="{{ asset('bundles/property247frontend/images/client-img.jpg') }}" alt="">
                <div class="name-position">

                    <strong>Bishal Pandey</strong>
                    <span>Co-Founder at House </span>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div><!-- testimonials-item  -->
            <div class="testimonials-item">
                <h2>Testimonials</h2>
                <img src="{{ asset('bundles/property247frontend/images/client-img.jpg') }}" alt="">
                <div class="name-position">

                    <strong>Bishal Pandey</strong>
                    <span>Co-Founder at House </span>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div><!-- testimonials-item  -->
            <div class="testimonials-item">
                <h2>Testimonials</h2>
                <img src="{{ asset('bundles/property247frontend/images/client-img.jpg') }}" alt="">
                <div class="name-position">

                    <strong>Bishal Pandey</strong>
                    <span>Co-Founder at House </span>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div><!-- testimonials-item  -->
            <div class="testimonials-item">
                <h2>Testimonials</h2>
                <img src="{{ asset('bundles/property247frontend/images/client-img.jpg') }}" alt="">
                <div class="name-position">

                    <strong>Bishal Pandey</strong>
                    <span>Co-Founder at House </span>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div><!-- testimonials-item  -->
        </div><!-- .testimonials-slider -->
    </div><!-- .container -->
</section> <!-- testimonials -->