{% if(topRatedProperties) %}
<section class="top-rated-properties">
    <div class="container">
        <h2 class="section-title"> Top Rated Properties </h2>
        <div class="row">
            {% for property in topRatedProperties|slice(0,1) %}
                {% set typeSlug = property.propertyType == 101?'house':'land' %}
                <div class="col-md-3">
                <div class="top-properties-bx">
                    <a href="{{ path('property_frontend_property_detail_page',{'slug':property.slug,'id':property.id}) }}">
                        <img src="{{ asset('bundles/property247frontend/images/image-big.jpg') }} " alt="">
                        <div class="properties-bx-detail">
                            <div class="inner-bx">
                                <p> {{ property.name }} <br>
                                    {{ property.location~','~property.cityName }}
                                </p>
                                <span>Rs. {{ property.price|number_format }}/- </span>
                            </div>
                        </div><!-- .properties-bx-detail -->
                    </a>
                </div><!-- .top-properties-bx -->
            </div><!-- .col -->
            {% endfor %}
            <div class="col-md-9">
                <div  class="row">


            {% for property in topRatedProperties|slice(1,6) %}
                {% set typeSlug = property.propertyType == 101?'house':'land' %}
                    <div class="col-sm-4">
                        <div class="top-properties-bx">
                            <a href="{{ path('property_frontend_property_detail_page',{'slug':property.slug,'id':property.id}) }}">
                                <img src="{{ asset('bundles/property247frontend/images/image1.jpg') }}" alt="">
                                <div class="properties-bx-detail">
                                    <div class="inner-bx">
                                        <p> {{ property.name }} <br>
                                            {{ property.location~','~property.cityName }}
                                        </p>
                                        <span>Rs. {{ property.price|number_format }}/- </span>
                                    </div>
                                </div><!-- .properties-bx-detail -->
                            </a>
                        </div><!-- .top-properties-bx -->
                    </div><!-- .col -->

            {% endfor %}
                    <div class="col-sm-4">
                        <div class="top-properties-bx">
                            <a href="">
                                <img src="{{ asset('bundles/property247frontend/images/image2.jpg') }}" alt="">
                                <div class="properties-bx-detail">
                                    <div class="inner-bx">
                                        <p> 3 BHK House <br>
                                            Newroad, Kathmandu
                                        </p>
                                        <span>Rs. 15,00,000/- </span>
                                    </div>
                                </div><!-- .properties-bx-detail -->
                            </a>
                        </div><!-- .top-properties-bx -->
                    </div><!-- .col -->
                    <div class="col-sm-4">
                        <div class="top-properties-bx">
                            <a href="">
                                <img src="{{ asset('bundles/property247frontend/images/image3.jpg') }}" alt="">
                                <div class="properties-bx-detail">
                                    <div class="inner-bx">
                                        <p> 3 BHK House <br>
                                            Newroad, Kathmandu
                                        </p>
                                        <span>Rs. 15,00,000/- </span>
                                    </div>
                                </div><!-- .properties-bx-detail -->
                            </a>
                        </div><!-- .top-properties-bx -->
                    </div><!-- .col -->
                    <div class="col-sm-4">
                        <div class="top-properties-bx">

                            <a href="">
                                <img src="{{ asset('bundles/property247frontend/images/image4.jpg') }}" alt="">
                                <div class="properties-bx-detail">
                                    <div class="inner-bx">
                                        <p> 3 BHK House <br>
                                            Newroad, Kathmandu
                                        </p>
                                        <span>Rs. 15,00,000/- </span>
                                    </div>
                                </div><!-- .properties-bx-detail -->
                            </a>
                        </div><!-- .top-properties-bx -->
                    </div><!-- .col -->
                    <div class="col-sm-4">
                        <div class="top-properties-bx">
                            <a href="">
                                <img src="{{ asset('bundles/property247frontend/images/image5.jpg') }}" alt="">
                                <div class="properties-bx-detail">
                                    <div class="inner-bx">
                                        <p> 3 BHK House <br>
                                            Newroad, Kathmandu
                                        </p>
                                        <span>Rs. 15,00,000/- </span>
                                    </div>
                                </div><!-- .properties-bx-detail -->
                            </a>
                        </div><!-- .top-properties-bx -->
                    </div><!-- .col -->
                    <div class="col-sm-4">
                        <div class="top-properties-bx">

                            <a href="">
                                <img src="{{ asset('bundles/property247frontend/images/image6.jpg') }}" alt="">
                                <div class="properties-bx-detail">
                                    <div class="inner-bx">
                                        <p> 3 BHK House <br>
                                            Newroad, Kathmandu
                                        </p>
                                        <span>Rs. 15,00,000/- </span>
                                    </div>
                                </div><!-- .properties-bx-detail -->
                            </a>
                        </div><!-- .top-properties-bx -->
                    </div><!-- .col -->
                </div>
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section> <!-- top-rated-properties -->
{% endif %}