<section class="trusted">
    <h2 class="section-title">   We are Trusted & Backed By  </h2>
    <div class="container">
        <ul class="trusted-slider">
            <li>
                <img src="{{ asset('bundles/property247frontend/images/trusted1.jpg') }}" alt="">
            </li>
            <li>
                <img src="{{ asset('bundles/property247frontend/images/trusted2.jpg') }}" alt="">
            </li>
            <li>
                <img src="{{ asset('bundles/property247frontend/images/trusted3.jpg') }}" alt="">
            </li>
            <li>
                <img src="{{ asset('bundles/property247frontend/images/trusted4.jpg') }}" alt="">
            </li>
            <li>
                <img src="{{ asset('bundles/property247frontend/images/trusted5.jpg') }}" alt="">
            </li>
        </ul>
    </div><!-- .container -->
</section>