{% extends '@Property247Admin/layout.html.twig' %}

{% block page_actions %}
    <li>
        <a href="{{ path('admin_list_amenity') }}">
            List Amenity
        </a>
    </li>
{% endblock %}

{% if isUpdating is defined and isUpdating == true %}
    {% set action = 'Update' %}
{% else %}
    {% set action = 'Add' %}
{% endif %}

{% block content %}

    <style>
        .vich-image a img{
            height: 100px;
            width: auto;
            display: block;
        }
    </style>

    <div class="col-md-12">
        <div class="panel panel-lg">
            <div class="panel-body">
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form) }}
                <div class="col-md-6">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.type) }}
                </div>
                <div class="col-md-12">
                    {#{% if isUpdating is defined  and isUpdating == true%}#}
                        {#<img src="{{ vich_uploader_asset(form.vars.data, 'iconImage') }}" alt=""#}
                             {#style="width: 100px; height: auto;">#}
                    {#{% endif %}#}
                    {{ form_widget(form.iconImage,{'attr':{'class':'file-input'}}) }}
                </div>
                <div class="col-md-12">
                    {{ form_row(form.description) }}
                </div>
                <input type="submit" class="btn btn-primary" value="{{ action }}">
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{#{% block scripts %}#}
    {#<script>#}
        {#var childs = $('#property247_propertybundle_amenity_iconImage').children();#}
        {#if(childs.length > 1){#}
            {#$(childs[0]).find('input[type=file]').on('change', function(){#}
                {#$(childs[1]).find('input[type=checkbox]').attr('checked', true);#}
            {#})#}
            {#$(childs[1]).hide();#}
        {#}#}
    {#</script>#}
{#{% endblock %}#}