{% extends '@Property247Admin/layout.html.twig' %}

{% block page_actions %}
    <li>
        <a href="{{ path('admin_amenity_add') }}">
            <i class="fa fa-plus"></i>&nbsp;
            Add Amenity
        </a>
    </li>
{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="panel panel-lg">
            {% if amenities | length %}
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>SN</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for a in amenities %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ a.name }}</td>
                        <td>{{ a.type }}</td>
                        <td>
                            {% if a.iconName %}
                            <img src="{{ vich_uploader_asset(a, 'iconImage') }}"
                                 alt="{{ a.name }} image"
                                 style="width: 35px; height: auto">
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('admin_amenity_update',{id:a.id}) }}" class="btn btn-xs btn-info">
                                Edit
                            </a>
                            <a href="{{ path('admin_delete_amenity',{id:a.id}) }}" class="btn btn-xs btn-danger delete-item">
                                Delete
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {{ no_contents() }}
            {% endif %}
        </div>
    </div>

{% endblock %}