{{ form_start(form,{'attr':{'id':'editImageForm','data-id':imageId}}) }}
<div class="col-md-12">{{ form_row(form.caption) }}</div>
<div class="col-md-12">{{ form_row(form.description) }}</div>
<input type="submit" class="btn btn-primary" value="Update">
{{ form_end(form) }}