{% extends '@Property247Admin/layout.html.twig' %}

{#{% form_theme form "@YarshaStudioAdmin/Form/admin_form_horizontal_layout.html.twig" %}#}

{% block content %}
    {{ form_start(form) }}
    <div class="col-lg-12">
        <h5>{{ pageDescription }}</h5>
        <div class="panel panel-flat">
            <div class="panel-body">
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12">
        <input type="submit" class="btn btn-primary" value="CHANGE PASSWORD">
        <a href="{{ url('list_users') }}" class="btn btn-danger">CANCEL</a>
    </div>
    <div class="clearfix"></div>
    {{ form_end(form) }}
{% endblock %}
