{% extends '@Property247Admin/layout.html.twig' %}


{% block page_actions %}
    {#{{ render_show_filter_button() }}#}
    <li>
        <a href="{{ url('add_user') }}" class="">
            <i class="fa fa-plus position-left"></i>
            Add New User
        </a>
    </li>
{% endblock %}

{% block filter %}
    <div class="form-group col-md-3">
        <label for="name" class="col-lg-3 control-label">Name</label>
        <div class="col-lg-9">
            <input type="text" class="form-control" name="name" value="{{ app.request.query.get('name') }}">
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-flat">
            {% if users|length %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-xs table-framed">
                        <tr>
                            <th>#</th>
                            <th>User Name</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Group</th>
                            <th>Created By</th>
                            <th>Action</th>
                        </tr>
                        {% for user in users %}
                            <tr>
                                <td>
                                    {{ loop.index }}
                                </td>
                                <td>
                                    <a href="{{ path('update_user', {'id':user.id }) }}">{{ user.username }}</a>
                                    <br>
                                </td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% for g in user.userGroups %}
                                        {% if not loop.last %}
                                            {{ g ~ ', ' }}
                                        {% else %}
                                            {{ g }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ user.createdBy ? user.createdBy.username : 'N/A' }}</td>
                                <td>
                                    <a href="{{ path('update_user',{'id':user.id}) }}"
                                       title="Edit"><i class="fa fa-pencil"></i> </a>

                                    <a href="{{ path('delete_user',{'id':user.id}) }}" class="delete-item">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    {#{% if app.user.hasRole('ROLE_SUPER_ADMIN') and not user.hasRole('ROLE_SUPER_ADMIN') and app.user.id!=user.id %}#}
                                        {#&nbsp;#}
                                        {#<a title="Login as {{ user.name }}"#}
                                           {#style="cursor: pointer;"#}
                                           {#href="{{ path('property_dashboard',{'_switch_user':user.username}) }}">#}
                                            {#<i class="icon-user"></i>#}
                                        {#</a>#}
                                    {#{% endif %}#}
                                    {% if app.user.hasRole('ROLE_SUPER_ADMIN') or user.hasRole('ROLE_SUPER_ADMIN') != true %}
                                        &nbsp;
                                        <a href="{{ url('user_change_password', {'id':user.id}) }}"
                                           title="Change Password">
                                            <i class="fa fa-wrench"></i>
                                        </a>&nbsp;
                                        {#<a href="{{ url('yarsha_studio_admin_user_login_log', {'user':user.id}) }}"#}
                                           {#title="View Login Log">#}
                                            {#<i class="icon-file-eye2"></i>#}
                                        {#</a>#}
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                {{ no_contents('No users to list.')|raw }}
            {% endif %}

            <div class="clearfix"></div>

        </div>

        <div class="text-right">
            {{ knp_pagination_render(users) }}
        </div>

    </div>

    <div class="clearfix"></div>
{% endblock %}
