.panel-less-padding .panel-heading{
    padding: 5px 5px;
}

.panel-less-padding .panel-heading .panel-title{
    margin-left: 20px;
}

.property-detail-form{
    background: #FFF;
    width: 100%;
    float: left;
    margin: 0;
    padding: 10px;
}

.property-detail-form-nav-tabs{
    margin: 0;
}

#amenities .panel-body {
    padding-top: 0;
}

.document.form-group .checkbox {
    display: none;
}

.vich-image .checkbox, .vich-image .form-check{
    display: none;
}