{% extends '@Property247Admin/layout.html.twig' %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-flat">
            {% if subjects|length %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-xs table-framed">
                        <tr>
                            <th>#</th>
                            <th>Subject Name</th>
                            <th>Semester</th>
                            <th>Teacher</th>
                            <th>Action</th>
                        </tr>
                        {% for subject in subjects%}
                            <tr>
                                <td>
                                    {{ loop.index }}
                                </td>
                                <td>{{ subject.name }}</td>
                                <td>{{ subject.semester}}</td>
                                <td>{{ subject.teacher.name }}</td>
                                <td>
                                    <a href="{{ path('admin_subject_update',{id:subject.id}) }}"
                                       title="Edit"><i class="fa fa-pencil"></i> </a>

                                    <a href="{{ path('admin_delete_subject',{id:subject.id}) }}" >
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                {{ no_contents('No Subject to list.')|raw }}
            {% endif %}

            <div class="clearfix"></div>

        </div>

        <div class="text-right">
            {{ knp_pagination_render(subjects) }}
        </div>

    </div>

    <div class="clearfix"></div>
{% endblock %}
